include ../helpers/_mixins

doctype html
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
html.no-js(lang='')<!--<![endif]-->
  include ../../_head
  body
    // Header
    include ../blocks/_header
    // end Header

    // Main content
    main.main-block
      block content
    // end main Content

    // Footer
    include ../blocks/_footer
    // end Footer

