include ../helpers/_mixins

doctype html
<!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
html.no-js(lang='')
  include ../../_head
  body
    .main-wrapper
      .main-content
        // Header
        include ../blocks/_header-light
        // end Header

        // Main content
        main.main.main-prompt-page
          block content
        // end main Content

      // Footer
      include ../blocks/_footer-light
      // end Footer
