mixin svg_ie8(svg_icon)
  <!--[if gte IE 9]><!-->
  img(src="img/svg-icon/" + svg_icon + ".svg", alt="", data-no-retina)
  <!--<![endif]--> <!--[if lt IE 9]>
  img(src="img/png-icon/" + svg_icon + ".png", alt="", data-no-retina)
  <![endif]-->

mixin min-section(main_title, min_title)
  section.min-section
    header.min-section__header.revealOnScroll(data-animation="fadeIn", data-timeout="400")
      h3.min-section__title= main_title
      - if (min_title)
        p.min-section__min-text= min_title
    .min-section__body
      block

mixin nav_item(href, active)
  li(class=active): a( href=href )
    block
