[class*="sprite"] {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden; }

.sprite-sprite, .sprite-arrow-left, .sprite-arrow-right-gr, .sprite-arrow-right, .sprite-check, .sprite-close-black, .sprite-close, .sprite-comment, .sprite-facebook-g, .sprite-facebook, .sprite-globe, .sprite-lock-selected, .sprite-lock, .sprite-not-selected, .sprite-plus, .sprite-search, .sprite-steam, .sprite-twitch, .sprite-twitter-g, .sprite-twitter, .sprite-user-selected, .sprite-user {
  background-image: url('../img/sprite-s66e80c630f.png');
  background-repeat: no-repeat; }

.sprite-arrow-left {
  background-position: -14px -32px;
  height: 20px;
  width: 14px; }

.sprite-arrow-right-gr {
  background-position: 0 -32px;
  height: 20px;
  width: 14px; }

.sprite-arrow-right {
  background-position: -18px -144px;
  height: 20px;
  width: 14px; }

.sprite-check {
  background-position: 0 -196px;
  height: 23px;
  width: 27px; }

.sprite-close-black {
  background-position: 0 -100px;
  height: 22px;
  width: 22px; }

.sprite-close {
  background-position: 0 -78px;
  height: 22px;
  width: 22px; }

.sprite-comment {
  background-position: 0 -219px;
  height: 23px;
  width: 20px; }

.sprite-facebook-g {
  background-position: -20px -52px;
  height: 26px;
  width: 13px; }

.sprite-facebook {
  background-position: -18px -166px;
  height: 30px;
  width: 15px; }

.sprite-globe {
  background-position: 0 -122px;
  height: 22px;
  width: 22px; }

.sprite-lock-selected {
  background-position: 0 -321px;
  height: 27px;
  width: 18px; }

.sprite-lock {
  background-position: 0 -294px;
  height: 27px;
  width: 18px; }

.sprite-not-selected {
  background-position: 0 -267px;
  height: 27px;
  width: 18px; }

.sprite-plus {
  background-position: 0 -52px;
  height: 20px;
  width: 20px; }

.sprite-search {
  background-position: 0 -378px;
  height: 34px;
  width: 34px; }

.sprite-steam {
  background-position: 0 0;
  height: 12px;
  width: 30px; }

.sprite-twitch {
  background-position: 0 -348px;
  height: 30px;
  width: 30px; }

.sprite-twitter-g {
  background-position: 0 -12px;
  height: 20px;
  width: 24px; }

.sprite-twitter {
  background-position: 0 -242px;
  height: 25px;
  width: 30px; }

.sprite-user-selected {
  background-position: 0 -144px;
  height: 22px;
  width: 18px; }

.sprite-user {
  background-position: 0 -166px;
  height: 22px;
  width: 18px; }

div.class {
  background: url("logo.png") no-repeat; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    div.class {
      /* on retina, use image that's scaled by 2 */
      background-image: url("logo2x.png");
      background-size: 100px 25px; } }

@font-face {
  font-family: 'Lato';
  src: local("Lato Thin Regular"), local("Lato-Thin"), url("http://64424.selcdn.ru/webfont/lato/lato-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Light Regular"), local("Lato-Light"), url("http://64424.selcdn.ru/webfont/lato/lato-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Regular"), local("Lato-Regular"), url("http://64424.selcdn.ru/webfont/lato/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Medium Regular"), local("Lato-Medium"), url("http://64424.selcdn.ru/webfont/lato/lato-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Semibold Regular"), local("Lato-Semibold"), url("http://64424.selcdn.ru/webfont/lato/lato-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Bold"), local("Lato-Bold"), url("http://64424.selcdn.ru/webfont/lato/lato-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Heavy Regular"), local("Lato-Heavy"), url("http://64424.selcdn.ru/webfont/lato/lato-heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Black Regular"), local("Lato-Black"), url("http://64424.selcdn.ru/webfont/lato/lato-black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Thin Italic"), local("Lato-ThinItalic"), url("http://64424.selcdn.ru/webfont/lato/lato-thinitalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("http://64424.selcdn.ru/webfont/lato/lato-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Italic"), local("Lato-Italic"), url("http://64424.selcdn.ru/webfont/lato/lato-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Medium Italic"), local("Lato-MediumItalic"), url("http://64424.selcdn.ru/webfont/lato/lato-mediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Semibold Italic"), local("Lato-SemiboldItalic"), url("http://64424.selcdn.ru/webfont/lato/lato-semibolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("http://64424.selcdn.ru/webfont/lato/lato-bolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Heavy Italic"), local("Lato-HeavyItalic"), url("http://64424.selcdn.ru/webfont/lato/lato-heavyitalic.woff") format("woff");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Lato';
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("http://64424.selcdn.ru/webfont/lato/lato-blackitalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }
@font-face {
  font-family: 'Lato Hairline';
  src: local("Lato Hairline Regular"), local("Lato-Hairline"), url("http://64424.selcdn.ru/webfont/lato/lato-hairline.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lato Hairline';
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("http://64424.selcdn.ru/webfont/lato/lato-hairlineitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%; }

.main-wrapper {
  display: table;
  width: 100%;
  height: 100%; }

.main-content {
  display: table-row;
  height: 100%; }

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  min-width: 1550px;
  min-height: 100%;
  margin: 0 auto;
  color: #4b4b4b;
  background-color: #E3E5E5;
  position: relative;
  z-index: 1; }

.row-min {
  margin-left: -5px;
  margin-right: -5px; }

[class*="col-pc-"] {
  float: left;
  padding: 0 5px; }

.col-10-pc {
  width: 10%; }

.col-pc-20 {
  width: 20%; }

.col-pc-33 {
  width: 33.3333%; }

.col-pc-30 {
  width: 30%; }

.col-pc-40 {
  width: 40%; }

.col-pc-50 {
  width: 50%; }

.col-pc-60 {
  width: 60%; }

.col-pc-70 {
  width: 70%; }

.col-pc-80 {
  width: 80%; }

.col-pc-90 {
  width: 90%; }

.col-pc-100 {
  width: 100%; }

.main-block {
  padding-top: 70px;
  min-height: 500px; }

.min-section__wr {
  margin-bottom: 70px; }

.text-success {
  color: #96be5c; }

.text-danger {
  color: #db5230; }

.row_without-padding {
  margin: 0; }
  .row_without-padding [class*="col"] {
    padding: 0; }

.displey-t-s {
  float: none;
  display: table-cell;
  vertical-align: top; }

.displey-tb {
  width: 100%;
  margin: 0;
  table-layout: fixed;
  display: table; }

a.hover-effect__link {
  color: inherit;
  text-decoration: none;
  display: block;
  background-color: #4B4B4B; }
  a.hover-effect__link .thumbnail-img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    position: relative;
    overflow: hidden;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    a.hover-effect__link .thumbnail-img img {
      min-width: 100%; }
  a.hover-effect__link .thumbnail-img__text {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    text-align: center;
    color: #F4F4F4;
    font-size: 35px;
    line-height: 40px;
    margin-top: -20px;
    font-weight: 900;
    text-transform: uppercase; }
  a.hover-effect__link:hover .thumbnail-img {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }

.btn-square {
  width: 70px;
  height: 70px;
  line-height: 70px;
  cursor: pointer;
  text-align: center;
  background-color: #434343;
  padding: 0; }
  .btn-square:hover {
    cursor: pointer;
    background-color: #4b4b4b; }
  .btn-square.btn-danger {
    background: #db5230; }
    .btn-square.btn-danger:hover {
      background: #ce4624; }
  .btn-square .fa {
    font-size: 30px;
    line-height: 30px;
    vertical-align: middle; }

.soc-btn-group__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; }
  .soc-btn-group__list a {
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    background: #fff;
    color: #c6c6c6;
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    background-color: #F4F4F4;
    border: 1px solid #E3E5E5; }
    .soc-btn-group__list a:hover {
      color: #db5230; }

.js-soc-btn .soc-icon-btn,
.js-soc-btn .sprite-plus {
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear; }
.js-soc-btn:hover .soc-icon-btn,
.js-soc-btn:hover .sprite-plus, .js-soc-btn.active .soc-icon-btn,
.js-soc-btn.active .sprite-plus {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.modal-dialog {
  margin: 8% auto 30px; }

.modal-btn-danger-hover:hover, .modal-btn-danger-hover:focus {
  background: #db5230;
  border-color: #db5230;
  color: #fff; }

.modal-btn-success-hover:hover, .modal-btn-success-hover:focus {
  background: #96be5c;
  border-color: #96be5c;
  color: #fff; }

.btn,
a,
button {
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear; }
  .btn:focus,
  a:focus,
  button:focus {
    outline: none; }

.modal-header .close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px; }

.modal-btn {
  min-width: 175px;
  text-transform: uppercase; }

.modal-title {
  color: #c64628;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase; }

.modal-title-importnat-text {
  font-weight: 900; }

.modal-footer {
  padding-top: 0; }

.form-control-feedback {
  height: 36px;
  width: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 22px;
  top: 12px;
  right: 12px; }

.has-error .form-control-feedback {
  background-color: #c64628;
  color: #fff; }
.has-error .input-group-addon {
  color: #c64628; }

.has-success .form-control-feedback {
  background-color: #96be5c;
  color: #fff; }
.has-success .input-group-addon {
  color: #E3E5E5; }

.tooltip__wr {
  pointer-events: visible; }
  .tooltip__wr:hover .form-control__tooltip {
    display: block; }

.form-control__tooltip {
  display: none;
  position: absolute;
  background: #434343;
  color: #fff;
  bottom: 100%;
  width: 200px;
  z-index: 100;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
  text-align: left;
  margin-left: -100px;
  left: 50%;
  margin-bottom: 8px; }
  .form-control__tooltip:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #434343 transparent transparent; }

.input-group-addon__wr {
  width: 100%;
  border-spacing: 2px 1px; }

.input-group-addon {
  width: 60px;
  border: transparent;
  background: #fff;
  color: #E3E5E5;
  font-size: 25px; }

.form-group-margin {
  margin-bottom: 20px; }
  .form-group-margin .form-group-lg .form-control {
    border-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .form-group-margin .form-group-lg .form-control:focus {
      border-color: #ccc; }

.custom-select__wr {
  position: relative; }
  .custom-select__wr:after {
    content: '';
    position: absolute;
    top: 28px;
    right: 10px;
    border-width: 6px;
    border-style: solid;
    border-color: #4b4b4b transparent transparent transparent; }

.form-group-sm .custom-select__wr:after {
  top: 19px;
  right: 10px;
  border-width: 4px; }
.form-group-sm label.control-label {
  font-size: 12px; }
.form-group-sm .input-group-addon {
  width: 38px; }

.form-horizontal .form-group-sm.has-feedback .form-control-feedback {
  top: 5px;
  right: 5px;
  height: 30px;
  line-height: 30px;
  width: 30px;
  font-size: 18px; }

.custom-select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: inherit;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 25px; }
  .custom-select.form-control::-ms-expand {
    display: none; }
  .custom-select.form-control:focus {
    outline: none; }

.lt-ie10 .custom-select__wr:after {
  display: none; }
.lt-ie10 .custom-select.form-control {
  padding-right: 5px; }

.form-group__d-tb {
  margin-left: -2px;
  margin-right: -2px; }

.form-group-inputs {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 1px;
  margin-top: 1px; }
  .form-group-inputs [class*="col"] {
    padding-left: 1px;
    padding-right: 1px; }
  .form-group-inputs ~ .form-group-inputs {
    margin-top: 2px; }

.form-horizontal .control-label {
  text-align: left;
  color: #B4B4B4;
  font-size: 18px;
  font-weight: 400; }

.checkbox_custom {
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
  /* accessibility */ }
  .checkbox_custom [type="checkbox"]:not(:checked), .checkbox_custom [type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
  .checkbox_custom [type="checkbox"]:not(:checked) + label,
  .checkbox_custom [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer; }
  .checkbox_custom [type="checkbox"]:not(:checked) + label:before,
  .checkbox_custom [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 11px;
    height: 11px;
    background-color: #F4F4F4;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .checkbox_custom [type="checkbox"]:checked + label:before {
    background: #db5230; }
  .checkbox_custom [type="checkbox"]:not(:checked) + label:after,
  .checkbox_custom [type="checkbox"]:checked + label:after {
    background: #db5230;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .checkbox_custom [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0); }
  .checkbox_custom [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1); }
  .checkbox_custom [type="checkbox"]:disabled:not(:checked) + label:before,
  .checkbox_custom [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  .checkbox_custom [type="checkbox"]:disabled:checked + label:after {
    color: #999; }
  .checkbox_custom [type="checkbox"]:disabled + label {
    color: #aaa; }
  .checkbox_custom [type="checkbox"]:checked:focus + label:before,
  .checkbox_custom [type="checkbox"]:not(:checked):focus + label:before {
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.remember-checkbox {
  display: inline-block;
  margin-right: 15px;
  color: #777777;
  font-size: 13px;
  font-weight: 400; }

.lose-password-link {
  color: #777777;
  font-weight: 700; }
  .lose-password-link:hover {
    color: #777777; }

.registration__form-wr {
  position: relative; }

.registration-btn {
  position: absolute;
  right: 0;
  bottom: 0; }

.registration-description {
  padding-bottom: 80px; }

.tuble-custom {
  width: 100%;
  margin-bottom: 15px; }
  .tuble-custom th {
    text-align: center;
    color: #e3e5e5;
    padding: 10px; }
    .tuble-custom th:first-child {
      text-align: left; }
  .tuble-custom td {
    text-align: center;
    padding: 10px;
    border: 1px solid #e3e5e5; }
    .tuble-custom td:first-child {
      border-left: none;
      text-align: left; }
    .tuble-custom td:last-child {
      border-right: none; }

.modal-content_white {
  background: #fff; }

.modal-content_min-pd .modal-body {
  padding: 15px 10px; }
.modal-content_min-pd .modal-footer {
  padding: 15px 10px; }

.form-control {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase; }

.revealOnScroll {
  opacity: 0; }

.revealOnScroll.animated {
  opacity: 1; }

::-webkit-input-placeholder {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

:-moz-placeholder {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

::-moz-placeholder {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

:-ms-input-placeholder {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #dbdfdb; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: .2em 0;
  padding: .2em 0;
  color: #000;
  background: #ccc; }

.article {
  background-color: #f4f4f4; }

.article__header {
  padding: 25px 25px 95px; }

.header_top-line.header_top-line-min:after {
  width: 320px; }
.header_top-line.header_top-line-min:before {
  right: 320px; }

.article__tag {
  color: #939393;
  font-size: 14px;
  font-weight: 900; }

.article__public-time {
  display: block;
  text-align: right;
  color: #939393;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px; }

.article__title {
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  color: #c64628;
  margin-bottom: 10px; }

.article__title-min {
  font-size: 18px;
  font-weight: 700; }

.article__nav {
  border-bottom: 2px solid #e3e5e5;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5; }

.article__nav-container {
  background: #f4f4f4;
  margin: 0 auto;
  width: 1520px;
  height: 71px; }

@media (min-width: 1550px) {
  .menu-fix {
    bottom: inherit;
    position: fixed;
    top: 70px; } }
.article__nav_left {
  border-top: 1px solid #e3e5e5;
  border-right: 1px solid #e3e5e5;
  width: 380px;
  float: left; }

.article__nav_right {
  border-top: 1px solid #e3e5e5;
  border-left: 1px solid #e3e5e5;
  height: 70px;
  width: 380px;
  float: right;
  position: relative;
  padding-right: 70px;
  color: #939393;
  text-decoration: none; }
  .article__nav_right:hover {
    color: #c64628; }

.article__author-photo {
  float: left;
  margin-right: 55px; }

.article__author-name {
  padding: 5px 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  color: #939393;
  line-height: 60px; }
  .article__author-name .other-color {
    color: #c64628; }
  .article__author-name .article__author-position {
    font-size: 14px;
    font-weight: 300; }

.vertical-center {
  vertical-align: middle;
  line-height: initial;
  display: inline-block; }

.article__read-more-wr {
  font-size: 14px;
  font-weight: 900;
  line-height: 25px;
  line-height: 70px;
  text-transform: uppercase; }
  .article__read-more-wr a {
    color: #939393;
    text-decoration: none; }
    .article__read-more-wr a:hover {
      color: #c64628; }

.vertical-center__wr {
  line-height: 60px; }

.article__next-arrow {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70px;
  text-align: center;
  line-height: 70px;
  height: 70px;
  border-left: 1px solid #e3e5e5; }

.article__next-title-group {
  padding: 5px 45px;
  text-align: right; }

.article__next-title {
  font-size: 14px;
  font-weight: 900;
  line-height: 1.2em;
  text-transform: uppercase; }

.article__next-title-min {
  color: #939393;
  font-size: 14px;
  font-weight: 300; }

.article__nav_center {
  text-align: center;
  height: 70px;
  overflow: hidden; }

.article-body {
  position: relative; }

.article-aside {
  float: right;
  width: 500px; }
  .article-aside:after {
    content: '';
    position: absolute;
    right: 501px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #e3e5e5; }

.article-aside__min-section {
  height: 121px;
  border-bottom: 1px solid #e3e5e5;
  display: block; }

a.article-aside__min-section:hover .article-aside__min-section-title-big {
  color: #c64628; }

.article-aside__min-section-photo {
  float: left; }

.article-aside__min-section-title-wr {
  line-height: 111px;
  overflow: hidden; }

.article-aside__min-section-title {
  line-height: initial;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 40px; }

.article-aside__min-section-title-big {
  color: #939393;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase; }

.article-aside__min-section-title-min {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300; }

.article-aside__link-more {
  font-size: 18px;
  font-weight: 900;
  color: #c64628;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 45px 45px 5px; }

.article-content {
  overflow: hidden;
  padding: 45px 100px 70px 135px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; }
  .article-content p {
    margin-bottom: 25px; }
  .article-content a {
    text-decoration: underline; }
  .article-content img {
    margin-left: -135px;
    margin-bottom: 25px;
    height: auto; }
  .article-content table {
    width: 100%;
    border: 1px solid #e3e5e5;
    margin-bottom: 25px;
    color: #939393;
    font-size: 14px;
    font-weight: 900;
    line-height: 17px; }
    .article-content table td {
      padding: 20px;
      border: 1px solid #e3e5e5; }
  .article-content .table-title {
    color: #939393;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 5px; }
    .article-content .table-title span {
      margin-left: 40px;
      display: inline-block; }

.footer__top {
  background-color: #a2a2a2;
  position: relative;
  min-height: 280px; }

.footer__logo-wr {
  padding: 40px 50px;
  float: left;
  width: 280px; }
  .footer__logo-wr:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 280px;
    border-right: 1px solid #B4B4B4; }

.footer__main-nav-wr {
  float: left;
  width: 1170px;
  padding: 40px 20px 40px 70px; }

.footer__main-nav {
  float: left;
  width: 200px; }
  .footer__main-nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0; }
    .footer__main-nav ul li {
      margin-bottom: 15px; }
      .footer__main-nav ul li:last-child {
        margin-bottom: 0; }
    .footer__main-nav ul a {
      color: #F4F4F4;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase; }

.footer__other-links-wr {
  margin-left: 20px;
  width: 860px;
  float: left; }

.footer-links-menu__title {
  color: #F4F4F4;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #B4B4B4;
  padding-bottom: 20px;
  margin: 0 0 20px; }

.footer-links-menu__list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .footer-links-menu__list li {
    margin-bottom: 15px;
    color: #F4F4F4;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5; }
  .footer-links-menu__list a {
    color: #F4F4F4; }

.footer-soc-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }
  .footer-soc-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%; }
  .footer-soc-menu li {
    height: 25%; }
    .footer-soc-menu li:nth-child(odd) a {
      background-color: #b4b4b4; }
    .footer-soc-menu li a {
      display: block;
      height: 100%;
      background-color: #aeaeae;
      padding: 20px;
      text-align: center;
      vertical-align: middle;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
      color: #fff;
      font-size: 25px; }
      .footer-soc-menu li a .soc-icon {
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      .footer-soc-menu li a:hover {
        background-color: #db5230; }
        .footer-soc-menu li a:hover .soc-icon {
          -moz-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg); }

.copyright-block {
  font-size: 14px;
  color: #4B4B4B;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0; }

.footer__bottom {
  padding: 25px 30px; }

.copyright-block__main-text {
  color: #C64628;
  font-weight: 900; }

.footer-bottom__list-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0; }
  .footer-bottom__list-nav li {
    display: inline-block; }
    .footer-bottom__list-nav li ~ li {
      border-left: 1px solid #4b4b4b;
      padding-left: 10px;
      margin-left: 10px; }
  .footer-bottom__list-nav a {
    line-height: 1em;
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300; }
    .footer-bottom__list-nav a:hover {
      color: #000;
      text-decoration: none; }

.main-header {
  position: relative;
  z-index: 10;
  background-color: #c64628;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }

@media (min-width: 1550px) {
  .main-header {
    position: fixed; } }
.header__container-inner {
  height: 70px;
  overflow: hidden; }

.main-header__inner {
  position: relative; }
  .main-header__inner:after {
    z-index: 1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #434343;
    width: 30%; }
  .main-header__inner .container {
    position: relative; }

.header__left-menu-wr {
  position: relative;
  z-index: 2; }

.logo__wr {
  margin: 0;
  padding: 22px 0 23px 93px;
  background-color: #4b4b4b;
  position: relative; }
  .logo__wr:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-width: 35px;
    border-style: solid;
    border-color: #4b4b4b transparent transparent #4b4b4b; }

.btn-menu {
  cursor: pointer;
  padding: 25px 20px 24px 20px;
  width: 70px;
  position: relative;
  z-index: 3;
  background: #434343; }

.navicon-line {
  height: 2px;
  background: #fff;
  margin-bottom: 5px;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .navicon-line.navicon-line_top {
    position: relative;
    bottom: 0;
    opacity: 1; }

.sb-active .navicon-line_hedden {
  opacity: 0; }
.sb-active .navicon-line {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
  .sb-active .navicon-line.navicon-line_top {
    position: relative;
    bottom: -7px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }

.js-dd {
  display: none; }

.main-nav {
  position: absolute;
  top: 100%;
  left: 15px;
  right: 15px;
  z-index: 10;
  background-color: #434343; }
  .main-nav ul {
    list-style: none;
    padding: 25px 0;
    margin: 0;
    font-size: 0;
    display: table;
    width: 100%;
    table-layout: fixed; }
  .main-nav li {
    display: table-cell;
    margin-left: 30px;
    text-align: center; }
  .main-nav a {
    color: #F4F4F4;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .main-nav a:hover {
      color: #c64628;
      text-decoration: none; }

.header__login-block {
  float: left; }
  .header__login-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0; }
    .header__login-block ul li {
      display: inline-block;
      border-right: 1px solid #b23a1d; }
      .header__login-block ul li:first-child {
        border-left: 1px solid #b23a1d; }
    .header__login-block ul a {
      color: #fff;
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      display: block;
      padding: 29px 5px;
      width: 70px;
      text-align: center;
      text-transform: uppercase; }

.header__user-name {
  display: block;
  float: left;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  padding: 29px 15px; }
  .header__user-name:hover {
    color: #fff; }

.header__user-avatar {
  display: block;
  float: left;
  height: 70px;
  width: 70px;
  background: #434343; }
  .header__user-avatar img {
    margin: 0 auto; }

.header__search-form {
  float: left;
  background: #db5230; }

.search-form__input-group-btn {
  float: left; }

.search-form__input-group-input {
  width: 0;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden;
  float: left;
  padding: 4px 0;
  background-color: #db5230; }
  .search-form__input-group-input .form-control {
    background: #db5230;
    color: #fff;
    border-color: #db5230;
    outline: none;
    box-shadow: none;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase; }
    .search-form__input-group-input .form-control::-webkit-input-placeholder {
      color: #fff; }
    .search-form__input-group-input .form-control:-moz-placeholder {
      color: #fff; }
    .search-form__input-group-input .form-control::-moz-placeholder {
      color: #fff; }
    .search-form__input-group-input .form-control:-ms-input-placeholder {
      color: #fff; }

.btn-search {
  width: 70px;
  height: 70px;
  text-align: center; }
  .btn-search .fa {
    font-size: 30px;
    line-height: 1;
    vertical-align: middle; }

.post-wr {
  position: relative;
  min-height: 500px; }

.post-caption__wr {
  position: absolute;
  bottom: 60px;
  left: 85px;
  background-color: #f4f4f4;
  width: 750px;
  min-height: 350px;
  padding: 20px 50px; }

.post-caption__tag {
  color: #c64628;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 5px; }

.post-caption__title {
  font-size: 35px;
  font-weight: 900;
  margin: 0 0 10px;
  text-transform: uppercase; }

.post-caption__posted {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  color: #565656; }

.post-caption__by {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px; }
  .post-caption__by span {
    color: #c64628; }

.post-caption__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px; }

.dvsion-section__row:before, .dvsion-section__row:after {
  content: " ";
  display: table; }
.dvsion-section__row:after {
  clear: both; }

.dvsion-section__min-col-3 {
  float: left;
  width: 25%; }

.team-match__info-time-live {
  font-size: 20px;
  line-height: 1em;
  font-weight: 400;
  color: #c64628;
  margin-bottom: 15px; }

.dvsion-section__min {
  background-color: #f4f4f4;
  height: 135px;
  line-height: 135px;
  border-right: 1px solid #e3e5e5;
  border-bottom: 1px solid #e3e5e5; }
  .dvsion-section__min:nth-child(4n) {
    border-right: none; }
  .dvsion-section__min.dvsion-section__min-live {
    background: #fff; }

.team-match__inner.dvsion-match__inner {
  width: 150px;
  padding: 0; }

.team-match__logo-wr.team-match__logo_dvsion {
  width: 70px; }

.dvsion-score {
  font-size: 37px;
  font-weight: 900;
  width: 38%;
  display: inline-block;
  float: left; }

.dvsion-status__vs {
  width: 20%;
  display: inline-block;
  float: left; }

.dvsion-section__min-final {
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }
  .dvsion-section__min-final .dvsion-match__inner {
    margin-top: 35px; }

.owl-carousel-dvsion {
  counter-reset: section;
  /* Set the section counter to 0 */ }
  .owl-carousel-dvsion.owl-theme .owl-controls {
    top: -65px;
    position: absolute;
    text-align: left;
    -webkit-tap-highlight-color: transparent; }
  .owl-carousel-dvsion.owl-theme .owl-controls .owl-nav [class*='owl-'] {
    color: white;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background-color: #c64628;
    display: inline-block;
    cursor: pointer; }
  .owl-carousel-dvsion.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
    color: white;
    text-decoration: none; }
  .owl-carousel-dvsion.owl-theme .owl-controls .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
  .owl-carousel-dvsion.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .owl-carousel-dvsion.owl-theme .owl-dots .owl-dot span {
    height: 50px;
    margin: 5px 7px;
    padding: 0 10px;
    background: transparent;
    border: 2px solid #8d8d8d;
    display: block;
    position: relative;
    color: #bbbcbc;
    font-size: 24px;
    line-height: 48px;
    min-width: 46px;
    text-align: center;
    display: inline-block;
    font-weight: 900; }
  .owl-carousel-dvsion.owl-theme .owl-dots .owl-dot.active span, .owl-carousel-dvsion.owl-theme .owl-dots .owl-dot:hover span {
    background: #c64628;
    border: 2px solid #c64628;
    color: #fff; }
  .owl-carousel-dvsion .owl-dots {
    padding-left: 150px; }

.section-header__wr {
  position: relative; }

.owl-carousel-dvsion__title {
  position: absolute;
  left: 20px;
  top: -47px;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase; }

.owl-carousel-dvsion__link {
  position: absolute;
  right: 0;
  top: -45px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: initial; }
  .owl-carousel-dvsion__link:hover {
    color: #c64628; }

.news-block {
  width: 50%;
  background: #fff; }

.news-block__text {
  padding: 25px 85px; }

.league-games-list-block {
  background-color: #f4f4f4; }

.league-games-list__item {
  border-bottom: 1px solid #e3e5e5;
  height: 135px; }
  .league-games-list__item:last-child {
    border: none; }
  .league-games-list__item .displey-t-s {
    vertical-align: middle;
    padding: 10px; }

.league-games__number {
  margin-left: 10px;
  width: 36px;
  height: 36px;
  border: 2px solid #8d8d8d;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  color: #c64628;
  font-size: 14px;
  font-weight: 900;
  line-height: 36px;
  text-align: center; }

.league-games__team-logo-wr {
  width: 320px;
  text-align: left; }

.league-games__team-logo {
  display: inline-block;
  vertical-align: middle;
  width: 75px; }
  .league-games__team-logo img {
    max-width: 100%;
    height: auto;
    display: block; }

.league-games__logo-title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  vertical-align: middle; }

.league-games__team-score-wr {
  width: 180px;
  text-align: right; }

.league-games__team-score {
  font-size: 45px;
  line-height: 21px;
  color: #4b4b4b;
  font-weight: 900; }
  .league-games__team-score span {
    color: #c64628; }

.team-match__lb_min {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ddd; }
  .team-match__lb_min span {
    vertical-align: middle;
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
  .team-match__lb_min.team-match__lb_default {
    background-color: #4b4b4b; }
  .team-match__lb_min.team-match__lb_success {
    background-color: #96be5c; }
  .team-match__lb_min.team-match__lb_danger {
    background-color: #db5230; }

.league-games__game-result-item-wr {
  width: 60px; }

.owl-carousel-league-game.owl-theme .owl-controls {
  bottom: -52px;
  position: absolute;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
  padding-right: 40px; }
.owl-carousel-league-game .owl-nav {
  position: absolute;
  right: 0;
  top: 0; }
.owl-carousel-league-game.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  color: #8d8d8d;
  font-size: 14px;
  line-height: 1em;
  margin: 0 3px;
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer; }
.owl-carousel-league-game.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
  color: #c64628;
  text-decoration: none; }
.owl-carousel-league-game.owl-theme .owl-controls .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }
.owl-carousel-league-game.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }
.owl-carousel-league-game.owl-theme .owl-dots .owl-dot span {
  width: 16px;
  height: 16px;
  margin: 5px 7px;
  background: transparent;
  border: 2px solid #8d8d8d;
  display: block;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
.owl-carousel-league-game.owl-theme .owl-dots .owl-dot.active span, .owl-carousel-league-game.owl-theme .owl-dots .owl-dot:hover span {
  background: #c64628;
  border: 2px solid #c64628; }
  .owl-carousel-league-game.owl-theme .owl-dots .owl-dot.active span::before, .owl-carousel-league-game.owl-theme .owl-dots .owl-dot:hover span::before {
    color: #fff; }

.row-min_custom-col-width-1 .col-xs-5 {
  width: 40%; }
.row-min_custom-col-width-1 .col-xs-2 {
  width: 20%; }

.match__info {
  position: relative;
  height: 210px; }

.match-info-top {
  padding: 15px;
  text-align: center; }

.match-info-top-time-wr {
  margin-bottom: 5px;
  color: #4b4b4b;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px; }

.match-info-top-date,
.match-info-top-time {
  padding: 0 5px; }

.match-info-top__map-title {
  color: #c1bfbf;
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 15px; }

.match__info-top-score {
  font-size: 65px;
  line-height: 65px;
  font-weight: 900; }
  .match__info-top-score span {
    vertical-align: middle;
    display: inline-block;
    width: 33.3333%; }

.match-info-top__match-status {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase; }

.match-links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #E3E5E5; }
  .match-links a {
    float: left;
    width: 50%;
    text-align: center;
    border-right: 1px solid #E3E5E5;
    height: 70px;
    padding: 20px 10px;
    display: block;
    color: #c1bfbf;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none; }
    .match-links a:last-child {
      border: none; }
    .match-links a.active, .match-links a:hover {
      color: #4b4b4b; }

.statistic-players-block__wr {
  background-color: #F4F4F4;
  margin-bottom: 30px; }

.one-statistic-player {
  border-bottom: 1px solid #E3E5E5; }

.statistic-player {
  float: left;
  width: 130px;
  position: relative;
  margin-right: 10px;
  overflow: hidden; }
  .statistic-player a {
    display: block; }
  .statistic-player img {
    max-width: 100%;
    min-width: 100%;
    height: auto; }
  .statistic-player .player-c {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #c64628;
    width: 35px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 17px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    text-align: center;
    color: #fff; }

.one-statistic-player__info {
  font-size: 25px;
  font-weight: 900;
  margin-top: 30px;
  width: 200px;
  float: left; }

.one-statistic-player__name {
  color: #c6c6c6;
  font-size: 15px;
  font-weight: 400; }

.one-statistic-player__game-info {
  padding: 10px 20px;
  float: right; }

.one-statistic-player__game-info_top {
  margin-bottom: 10px;
  clear: both; }

.game-info__item {
  display: inline-block;
  margin-left: 20px; }
  .game-info__item:first-child {
    margin: 0; }

.game-info__item-namber {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  margin-bottom: 5px; }

.game-info__item-label {
  font-size: 11px;
  font-weight: 400;
  color: #c1bfbf;
  text-transform: uppercase; }

.game-info__item-namber_plus-minus {
  color: #8d8d8d;
  font-size: 35px; }

.game-info__item-namber_rating {
  font-size: 45px;
  font-weight: 900; }

.player-info-k__list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .player-info-k__list li {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin-right: 25px; }
    .player-info-k__list li span {
      color: #c1bfbf; }
    .player-info-k__list li:last-child {
      margin-right: 0; }

.container__prompt {
  max-width: 1200px; }

.main-prompt-page {
  text-align: center; }

.light-logo__wr {
  text-align: center;
  margin: 0;
  padding: 75px 0 105px; }

.prompt__big-title {
  font-size: 129px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 20px;
  letter-spacing: 13.5px; }

.prompt__logo-min {
  margin-bottom: 90px; }

.prompt__min-text {
  margin-bottom: 50px; }

.prompt__btn-group {
  margin-bottom: 50px; }
  .prompt__btn-group .btn {
    margin: 0 10px; }

.bills-form__form-wr {
  width: 260px;
  margin: 0 auto; }

.prompt-selections__wr {
  max-width: 1090px;
  margin: 0 auto 30px; }

.prompt-selections__min-wr {
  margin-bottom: 30px; }

.prompt-selection {
  display: block;
  min-height: 500px;
  border: 1px solid #4b4b4b;
  padding: 75px 30px 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  color: initial; }
  .prompt-selection:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    text-decoration: none;
    color: inherit; }

.prompt-selection__titel span {
  font-size: 20px;
  font-weight: 500; }

.prompt-selection__logo-min {
  margin-bottom: 30px; }

.list-of-services {
  padding: 0;
  margin: 0;
  list-style: none; }
  .list-of-services .pro-item {
    color: #c64628; }
  .list-of-services li:before {
    content: '+';
    margin-right: 5px; }
  .list-of-services.list-of-services__free {
    padding-top: 40px; }

.prompt-selection__min {
  display: block;
  height: 280px;
  line-height: 280px;
  border: 1px solid #4b4b4b;
  padding: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  color: initial;
  position: relative;
  cursor: pointer; }
  .prompt-selection__min:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    text-decoration: none;
    color: inherit; }

.active .prompt-selection__min {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }

.time-subscription {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  text-align: center;
  color: #E3E5E5;
  font-size: 290px;
  font-weight: 900;
  text-shadow: 0 0 2px #000;
  text-shadow: 0 0 2px 2px #000; }

.prompt-selection__info {
  line-height: initial;
  position: relative;
  z-index: 2;
  color: #4b4b4b;
  font-size: 30px;
  font-weight: 500;
  padding-top: 115px; }

.prompt-selection__time-label {
  margin-bottom: 10px; }

.prompt-selection__price {
  color: #c64628;
  font-size: 66px;
  font-weight: 900; }
  .prompt-selection__price span {
    font-size: 32px;
    font-weight: 500; }

.prompt-selection__discount {
  position: absolute;
  right: 5px;
  bottom: 5px;
  line-height: initial;
  font-size: 20px;
  font-weight: 900; }

.label-hidden {
  visibility: hidden;
  position: absolute; }

.prompt__cart-title {
  line-height: initial;
  display: inline-block;
  vertical-align: middle; }

.inner-page {
  padding-top: 70px; }

.min-block {
  background-color: #F4F4F4;
  margin-bottom: 10px;
  height: 210px;
  overflow-y: hidden; }

.min-block__left-section {
  float: left;
  width: 210px;
  overflow: hidden; }
  .min-block__left-section img {
    max-width: 100%;
    height: auto;
    min-width: 100%; }

.user-graph {
  margin-bottom: 70px; }

.profile__user-info {
  padding-top: 35px; }

.profile__user-nick {
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 900; }
  .profile__user-nick .user-status {
    display: inline-block;
    margin-left: 10px;
    color: #FFF;
    font-size: 8px;
    font-weight: 400;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border-radius: 36px; }
  .profile__user-nick .user-status__pro {
    background: #c64628;
    text-transform: uppercase; }

.profile__user-name {
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase; }

.profile__user-address {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase; }

.user-karma {
  font-size: 25px;
  font-weight: 900;
  float: left; }

.user-karma__mark {
  color: #96be5c;
  font-weight: 400; }

.user-karma__unit {
  color: #CBCBCB;
  font-weight: 400; }

.user-karma__btn-group {
  overflow-y: hidden; }

.user-karma__btn {
  width: 36px;
  height: 36px;
  border: 2px solid #C6C6C6;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  display: inline-block;
  margin-left: 20px;
  text-align: center;
  color: #C6C6C6;
  font-size: 13px;
  line-height: 1em;
  padding: 10px;
  vertical-align: middle;
  font-weight: 400;
  cursor: pointer; }
  .user-karma__btn.user-karma__btn-minus:hover {
    color: #c64628;
    border-color: #c64628; }
  .user-karma__btn.user-karma__btn-plus:hover {
    color: #96be5c;
    border-color: #96be5c; }

.user-stattistic__wr {
  text-align: center; }

.user-stattistic__min-block {
  display: inline-block;
  padding: 0 60px; }

.row-min {
  margin-right: -5px;
  margin-left: -5px; }
  .row-min [class*="col"] {
    padding-left: 5px;
    padding-right: 5px; }

.min-block__main-section {
  padding: 15px;
  float: left; }

.user-awards {
  padding: 45px 15px; }

.user-avard {
  margin-right: 55px; }
  .user-avard:last-child {
    margin-right: 0; }

.user-awards__title__wr {
  padding: 65px 25px 0; }

.user-awards__title {
  font-size: 30px;
  font-weight: 900;
  text-align: right; }
  .user-awards__title span {
    color: #C64628;
    font-weight: 400; }

.user-awards__title_bottom {
  font-size: 30px;
  color: #B0B0B1;
  font-weight: 400;
  text-align: right; }

.min-block__soc-section {
  float: right; }
  .min-block__soc-section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #E3E5E5; }
  .min-block__soc-section li:first-child a {
    border-top: none; }
  .min-block__soc-section li a {
    border-top: 1px solid #E3E5E5;
    display: block;
    height: 70px;
    padding: 23px;
    text-align: center;
    vertical-align: middle;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    color: #C6C6C6;
    font-size: 24px;
    line-height: 1em; }
    .min-block__soc-section li a .soc-icon {
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .min-block__soc-section li a:hover .soc-icon {
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); }

.tab-nav_left {
  float: left;
  width: 210px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid #E3E5E5; }
  .tab-nav_left li:first-child a {
    border-top: none; }
  .tab-nav_left a {
    border-top: 1px solid #E3E5E5;
    color: #C6C6C6;
    display: block;
    height: 70px;
    padding: 26px 10px;
    text-decoration: none; }
    .tab-nav_left a:hover {
      color: #c64628; }

.tab-content_right {
  overflow: hidden;
  padding: 15px;
  color: #4B4B4B;
  font-size: 14px;
  font-weight: 300;
  max-height: 210px;
  overflow-y: auto; }

.min-block__soc-section_in-teb {
  float: none;
  position: absolute;
  right: 0;
  top: 0; }

.square-min-btn {
  height: 36px;
  width: 36px;
  line-height: 1em;
  padding: 5px;
  display: inline-block;
  color: #fff;
  font-size: 22px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer; }
  .square-min-btn.square-min-btn_primary {
    background-color: #c64628; }
  .square-min-btn.square-min-btn_success {
    background-color: #96be5c; }

.user-thumbnail {
  position: relative; }
  .user-thumbnail img {
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .user-thumbnail:hover img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3; }
  .user-thumbnail:hover .user-profile__btn-group {
    display: block; }

.user-profile__btn-group {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  text-align: center;
  display: none; }
  .user-profile__btn-group .square-min-btn {
    margin-top: -18px;
    margin-left: 5px;
    margin-right: 5px; }

.match-block__left-section, .team-block__left-section {
  padding: 10px 20px 10px 210px;
  position: relative; }

.team-block__left-section {
  padding-right: 70px; }

.match-block__right-section {
  padding: 10px 210px 10px 20px;
  position: relative; }

.team-nav {
  padding: 0;
  list-style: none;
  margin: 0 0 10px; }
  .team-nav li {
    display: inline-block;
    margin-left: 15px; }
    .team-nav li.active a, .team-nav li:hover a {
      color: #4B4B4B;
      text-decoration: none; }
  .team-nav a {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: #C6C6C6;
    text-transform: uppercase; }

.tab-content__team, .match-block__content_left {
  padding-left: 15px; }

.tab-content__team_right, .match-block__content_right {
  padding-right: 15px;
  text-align: right; }

.min-block-center-info {
  max-width: 460px; }

.team-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 210px;
  height: 210px;
  border-right: 1px solid #E3E5E5; }
  .team-logo img {
    max-width: 100%; }

.team-logo_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 210px;
  height: 210px;
  line-height: 210px;
  vertical-align: middle;
  border-left: 1px solid #E3E5E5;
  text-align: center; }
  .team-logo_right img {
    max-width: 100%; }

.team-info {
  text-transform: uppercase; }

.team-title {
  color: #4B4B4B;
  font-size: 25px;
  font-weight: 900; }

.team-tag {
  color: #C6C6C6;
  font-size: 15px;
  font-weight: 400; }

.team-dvsion {
  color: #C6C6C6;
  font-size: 15px;
  font-weight: 700; }
  .team-dvsion span {
    color: #C64628;
    font-size: 20px;
    font-weight: 900; }

.team-bill {
  font-size: 50px;
  color: #4B4B4B;
  font-weight: 900; }
  .team-bill span {
    color: #C64628;
    font-weight: 300; }

.modal-content_other {
  background-color: #fff; }
  .modal-content_other .modal-header {
    margin: 20px;
    padding: 20px;
    border: 1px solid #e3e5e5; }
  .modal-content_other .modal-body {
    margin: 20px;
    padding: 20px;
    border: 1px solid #e3e5e5; }
  .modal-content_other .modal-footer {
    margin: 20px;
    padding: 0; }

.modla-subject {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0; }

.index__news-aside-right {
  background: #fff; }

.index__news-aside-left {
  position: relative;
  background: url(../img/big-img-1.jpg) center center no-repeat;
  background-size: cover;
  min-height: 500px; }

.section__news {
  position: relative; }

.btn-left-bottom {
  position: absolute;
  left: 0;
  bottom: 0; }

.btn-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0; }

.index-main-img__info {
  position: absolute;
  bottom: 100px;
  left: 100px;
  right: 100px; }

.index-main-img__info-header {
  background: #F4F4F4;
  background-color: rgba(244, 244, 244, 0.9);
  margin-bottom: 2px;
  padding: 25px; }

.header_top-line {
  position: relative; }
  .header_top-line:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 6px;
    background-color: #c64628; }
  .header_top-line:before {
    content: '';
    position: absolute;
    right: 45%;
    top: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #c64628 #c64628 transparent transparent; }

.index-main-img__info-body {
  background-color: #F4F4F4;
  padding: 20px 25px; }

.post__header {
  padding-bottom: 10px; }

.post__body {
  line-height: 1.6;
  font-size: 14px; }

.header__additional-information {
  color: #4B4B4B;
  font-size: 15px;
  font-weight: 700; }

.header__min-title {
  color: #939393;
  font-size: 14px;
  font-weight: 900;
  margin: 0 0 5px;
  text-transform: uppercase; }

.header__big-title {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 5px; }

.section__min-news {
  padding: 45px 95px 45px 45px; }

.section__min-news_top {
  background: url(../img/index-top-news-bg.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 200px; }

.post-info {
  font-size: 12px;
  color: #4b4b4b;
  font-weight: 400; }
  .post-info .nick-name {
    color: #c64628;
    font-weight: 900; }

.news-by {
  display: inline-block;
  margin-right: 25px; }

.owl-carousel1 {
  padding-bottom: 80px; }
  .owl-carousel1 .item {
    background: #fff; }
  .owl-carousel1 .owl-nav {
    position: absolute;
    bottom: -45px;
    right: -95px; }
    .owl-carousel1 .owl-nav .owl-prev,
    .owl-carousel1 .owl-nav .owl-next {
      float: left;
      z-index: 9999;
      color: #fff; }
      .owl-carousel1 .owl-nav .owl-prev .btn:hover,
      .owl-carousel1 .owl-nav .owl-next .btn:hover {
        color: #fff; }

.video__wr,
.wideo__wr {
  background: #4b4b4b; }

.vide-player {
  height: 410px;
  position: relative; }

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px; }

.video__info-wr,
.wideo__info-wr {
  background: #c64628; }

.video__info,
.wideo__info {
  padding: 190px 40px 40px; }

.video-title {
  margin: 0 0 10px;
  color: #F4F4F4;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase; }

.video-text {
  color: #F4F4F4;
  font-size: 14px;
  font-weight: 400; }

.our-title {
  color: #c64628;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  line-height: 1em;
  padding-left: 30px;
  margin-bottom: 70px;
  position: relative;
  padding-bottom: 21px; }
  .our-title:after {
    position: absolute;
    content: '';
    left: 30px;
    bottom: 0;
    width: 243px;
    height: 6px;
    background-color: #c64628; }

.our-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  padding-right: 72px; }

.team-member__img {
  height: 270px;
  width: 270px; }

.our-team {
  margin-bottom: 70px; }

.team-member__soc-list {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0; }
  .team-member__soc-list li {
    float: left;
    margin-right: 1px; }
    .team-member__soc-list li a {
      background-color: #f4f4f4;
      display: block;
      height: 70px;
      padding: 23px;
      width: 70px;
      text-align: center;
      vertical-align: middle;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
      color: #C6C6C6;
      font-size: 24px;
      line-height: 1em; }
      .team-member__soc-list li a .soc-icon {
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      .team-member__soc-list li a:hover .soc-icon {
        color: #c64628; }

.team-member__name {
  color: #c64628;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 5px; }

.team-member__job {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 10px; }

.team-member__description {
  font-size: 16px;
  font-weight: 100;
  line-height: 27px; }

.team-member__item {
  margin-bottom: 70px; }

.developers__list {
  list-style: none;
  padding: 0;
  margin-bottom: 70px; }
  .developers__list li {
    float: left;
    margin-left: 145px;
    margin-bottom: 100px; }
    .developers__list li img {
      max-width: 270px; }
    .developers__list li:first-child {
      margin-left: 0; }
    .developers__list li:nth-child(5n) {
      margin-left: 0; }

.sponsors-list {
  display: table;
  height: 100%;
  width: 100%; }

.sponsors-list__item {
  width: 33.3333%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-left: 1px solid #E3E5E5; }
  .sponsors-list__item:first-child {
    border: none; }

.team-match {
  background-color: #F4F4F4;
  margin-bottom: 10px; }

.team-match {
  width: 755px;
  height: 135px;
  line-height: 135px;
  background-color: #f4f4f4;
  overflow-y: hidden; }

.team-match__inner {
  vertical-align: middle;
  display: inline-block;
  line-height: initial;
  padding: 0 20px;
  text-align: center; }

.team-match__lb {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ddd; }
  .team-match__lb span {
    vertical-align: middle;
    color: #f4f4f4;
    font-size: 31px;
    font-weight: 400;
    line-height: 31px; }
  .team-match__lb.team-match__lb_default {
    background-color: #4b4b4b; }
  .team-match__lb.team-match__lb_success {
    background-color: #96be5c; }
  .team-match__lb.team-match__lb_danger {
    background-color: #db5230; }

.team-match__info-time-wr {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px; }

.team-match__info-date {
  margin-bottom: 10px; }

.team-match__info-time {
  margin-bottom: 10px; }

.team-match__match-status {
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  line-height: 36px;
  height: 36px;
  margin-bottom: 10px;
  text-transform: uppercase; }
  .team-match__match-status .status__vs {
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 36px;
    width: 36px;
    background-color: white;
    color: #c64628; }

.team-match__map-title {
  color: #c1bfbf;
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 5px; }

.team-match__logo-wr {
  width: 160px;
  display: block;
  color: initial;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .team-match__logo-wr:hover {
    text-decoration: none;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .team-match__logo-wr img {
    max-width: 100%;
    height: auto; }

.team-match__logo-title {
  font-size: 14px;
  font-weight: 900;
  line-height: 13px;
  text-transform: uppercase;
  margin-top: 10px; }

.team-match__score-wr {
  float: right;
  width: 180px;
  padding: 0 20px;
  padding-right: 10px;
  line-height: 135px;
  height: 135px; }

.team-match__score-of-the-name {
  display: inline-block;
  color: #c1bfbf;
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  vertical-align: middle; }

.score-number {
  font-size: 37px;
  font-weight: 900;
  line-height: 21px; }

.complete-results {
  color: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  float: right;
  text-transform: uppercase;
  margin-bottom: 10px; }
  .complete-results:hover {
    color: #c64628; }

.team-stattistic__wr {
  text-align: center;
  margin-bottom: 10px; }

.team-stattistic__min-block {
  display: inline-block;
  margin-left: 40px; }
  .team-stattistic__min-block:first-child {
    margin-left: 0; }

.team-photos__wr {
  position: relative;
  height: 210px; }

.team-photos__nav {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #E3E5E5; }
  .team-photos__nav li {
    float: left;
    width: 33.3333%;
    text-align: center;
    border-right: 1px solid #E3E5E5; }
    .team-photos__nav li:last-child {
      border: none; }
    .team-photos__nav li.active a, .team-photos__nav li:hover a {
      color: #4b4b4b; }
  .team-photos__nav a {
    height: 70px;
    padding: 20px 10px;
    display: block;
    color: #c1bfbf;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    text-decoration: none; }

.players-list {
  overflow: hidden; }

.player {
  float: left;
  width: 20%;
  position: relative; }
  .player a {
    display: block; }
  .player img {
    max-width: 100%;
    min-width: 100%;
    height: auto; }
  .player .player-c {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #c64628;
    width: 35px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 17px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    text-align: center;
    color: #fff; }
  .player.player_grayscale img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .player.player_grayscale:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0); }

.massages-filter__wr {
  width: 305px;
  height: 70px;
  background-color: #f4f4f4;
  margin-bottom: 10px; }
  .massages-filter__wr .messages__check-wr {
    border-right: 1px solid #e3e5e5; }

.messages__dropdown {
  margin-left: 70px; }

.dropdown__messages-btn {
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
  color: #b6b6b6;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 30px;
  white-space: nowrap; }
  .dropdown__messages-btn:hover {
    cursor: pointer;
    text-decoration: none; }
  .dropdown__messages-btn .caret {
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 20px;
    border-width: 6px; }

.dropdown__messages-menu {
  width: 100%;
  border: none;
  background-color: #f4f4f4;
  padding: 0;
  list-style: none;
  margin-top: 1px; }
  .dropdown__messages-menu > li > a {
    padding: 10px 30px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    display: block; }
    .dropdown__messages-menu > li > a:hover {
      background: #c64628;
      color: #f4f4f4; }

.userbackend__main-nav-container {
  margin: 70px 0;
  height: 70px;
  position: relative; }

.userbackend__main-nav_wr {
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0; }

@media (min-width: 1550px) {
  .userbackend__main-nav_wr.menu-fix {
    position: fixed;
    top: 71px; } }
.userbackend__main-nav-list {
  display: table;
  width: 100%;
  list-style: none;
  padding: 0;
  table-layout: fixed;
  padding: 0 5px; }

.userbackend__main-nav-item {
  display: table-cell;
  background-color: #f4f4f4;
  border-left: 1px solid #e3e5e5;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  vertical-align: middle; }
  .userbackend__main-nav-item:first-child {
    border: none; }
  .userbackend__main-nav-item:hover, .userbackend__main-nav-item.active {
    background: #c64628; }
    .userbackend__main-nav-item:hover .userbackend__main-nav-link, .userbackend__main-nav-item.active .userbackend__main-nav-link {
      color: #f4f4f4; }
    .userbackend__main-nav-item:hover .userbackend__main-nav-counter, .userbackend__main-nav-item.active .userbackend__main-nav-counter {
      background-color: #f4f4f4;
      color: #c64628; }

.userbackend__main-nav-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #c6c6c6;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  padding: 25px 30px; }
  .userbackend__main-nav-link.userbackend__main-nav-link_with-counter {
    padding: 25px 60px; }
  .userbackend__main-nav-link:hover {
    text-decoration: none; }

.userbackend__main-nav-counter {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -15px;
  background-color: #c64628;
  color: #f4f4f4;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.row-min .right-content {
  padding-left: 10px; }

.messages__list-item {
  background-color: #f4f4f4;
  margin-bottom: 10px; }
  .messages__list-item.not-viewed {
    background-color: #fff; }
    .messages__list-item.not-viewed .messages__status {
      background: #c64628; }

.messages__header {
  border-bottom: 1px solid #e3e5e5; }

.messages__check-wr {
  float: left;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center; }
  .messages__check-wr input {
    margin: 0; }

.messages__status-wr {
  height: 70px;
  line-height: 70px;
  float: left;
  width: 20px; }

.messages__status {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  background-color: transparent; }

.message__subject {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  overflow: hidden;
  line-height: 70px;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px; }

.message__subject_modal {
  padding-left: 37px; }

.message__header_left-nav {
  float: left;
  width: 50%; }

.message__autor_right {
  width: 380px;
  float: right; }

.message__author-photo {
  float: right;
  margin-left: 10px;
  height: 70px;
  width: 70px;
  border-left: 1px solid #e3e5e5; }
  .message__author-photo img {
    max-width: 100%;
    height: auto; }

.message__author-photo_left {
  float: left;
  margin: 0 10px 0 0;
  border-right: 1px solid #e3e5e5;
  border-left: none;
  position: relative;
  z-index: 2; }

.message__author-name {
  text-align: right;
  padding: 5px 45px;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  color: #939393;
  line-height: 60px; }
  .message__author-name .other-color {
    color: #c64628; }
  .message__author-name .message__posted {
    font-size: 14px;
    font-weight: 300; }

.message__author-name_left {
  text-align: left; }

.messages__body {
  min-height: 140px;
  padding: 50px 35px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px; }
  .messages__body p {
    margin: 0; }

.messages__footer-nav {
  display: table;
  width: 100%;
  table-layout: fixed; }

.messages__footer-nav-item {
  display: table-cell;
  border-top: 1px solid #e3e5e5;
  border-bottom: 1px solid #e3e5e5; }
  .messages__footer-nav-item ~ .messages__footer-nav-item {
    border-left: 1px solid #e3e5e5; }

.messages__footer-nav-link {
  display: block;
  text-align: center;
  color: #e3e5e5;
  font-size: 15px;
  font-weight: 900;
  line-height: 16px;
  padding: 23px 20px;
  text-transform: uppercase;
  width: 100%;
  border: none;
  background-color: transparent; }
  .messages__footer-nav-link:hover, .messages__footer-nav-link:focus {
    text-decoration: none;
    color: #c64628; }

.form-control.message-form-control {
  text-transform: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #4b4b4b;
  height: 200px;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f4f4f4; }
  .form-control.message-form-control:focus {
    outline: none; }

.modal-content_message {
  background-color: #f4f4f4; }
  .modal-content_message .modal-header {
    padding: 0; }
  .modal-content_message .modal-body {
    padding: 25px; }
  .modal-content_message .modal-footer {
    padding: 0; }

.modal-footer.modal-footer_full-width .btn {
  width: 50%;
  float: left;
  margin: 0; }

.message-to__wr,
.message-subject__wr {
  border-bottom: 1px solid #b6b6b6; }
  .message-to__wr .form-control,
  .message-subject__wr .form-control {
    height: 70px;
    background-color: #f4f4f4;
    padding-left: 37px; }

.message-to__wr {
  position: relative; }
  .message-to__wr .form-control {
    padding-left: 85px; }
  .message-to__wr:before {
    z-index: 1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    background-color: #c64628; }

.modal__messages-list {
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 20px;
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px; }

.modal__messages-list-item {
  padding: 6px 120px 6px 12px;
  margin-bottom: 10px; }
  .modal__messages-list-item.modal__messages-list-item_right {
    text-align: right;
    padding: 6px 12px 6px 120px; }

.modal__messages-list-item-post-time {
  font-size: 12px;
  line-height: 22px;
  color: #898989;
  font-weight: 600;
  margin-bottom: 5px; }

.post-time__date {
  color: #c64628;
  font-weight: 300;
  margin-right: 5px; }

.form-control.conversation-textarea {
  height: 100px; }
  .form-control.conversation-textarea::-webkit-input-placeholder {
    text-transform: none; }
  .form-control.conversation-textarea:-moz-placeholder {
    text-transform: none; }
  .form-control.conversation-textarea::-moz-placeholder {
    text-transform: none; }
  .form-control.conversation-textarea:-ms-input-placeholder {
    text-transform: none; }

.row-min .vertical-menu__wr {
  padding-right: 0; }

.vertical-menu__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.vertical-menu__list-item {
  vertical-align: middle;
  margin-bottom: 10px; }
  .vertical-menu__list-item.active .vertical-menu__list-link {
    background: #c64628;
    text-decoration: none;
    color: #f4f4f4; }

.vertical-menu__list-link {
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #b6b6b6;
  display: block;
  width: 100%;
  text-align: center;
  color: #f4f4f4;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  padding: 25px 40px;
  position: relative; }
  .vertical-menu__list-link:hover {
    background: #c64628;
    text-decoration: none;
    color: #f4f4f4; }
  .vertical-menu__list-link .icon {
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 18px;
    line-height: 1em;
    margin-top: -9px; }

.ir {
  overflow: hidden;
  border: 0;
  background-color: transparent;
  *text-indent: -9999px; }

.ir:before {
  display: block;
  width: 0;
  height: 150%;
  content: ''; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0; }

.invisible {
  visibility: hidden; }

.clearfix:before, .row-min:before, .massages-filter__wr:before, .messages__header:before,
.clearfix:after,
.row-min:after,
.massages-filter__wr:after,
.messages__header:after {
  display: table;
  content: ' '; }

.clearfix:after, .row-min:after, .massages-filter__wr:after, .messages__header:after {
  clear: both; }

.clearfix, .row-min, .massages-filter__wr, .messages__header {
  *zoom: 1; }

@media print {
  * {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: ''; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: .5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
