.dvsion-section__row
  .dvsion-section__min.dvsion-section__min-col-3.dvsion-section__min-live
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/Fnatic_Logo.png", alt="")
        .team-match__logo-title fnatic
    .team-match__inner.dvsion-match__inner
      .team-match__info
        .team-match__info-time-wr
          .team-match__info-time-live LIVE!
        .team-match__match-status
          span.dvsion-score.dvsion-score_left 14
          span.status__vs.dvsion-status__vs vs
          span.dvsion-score.dvsion-score_right 7
        .team-match__map-title DE_INFERNO
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/cloud-logo.png", alt="")
        .team-match__logo-title cloud

  .dvsion-section__min.dvsion-section__min-col-3
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/Fnatic_Logo.png", alt="")
        .team-match__logo-title fnatic
    .team-match__inner.dvsion-match__inner
      .team-match__info
        .team-match__info-time-wr
          .team-match__info-date 02.02.15
          .team-match__info-time 9:00PM EST
        .team-match__match-status
          span.status__vs vs
        .team-match__map-title DE_INFERNO
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/cloud-logo.png", alt="")
        .team-match__logo-title cloud

  .dvsion-section__min.dvsion-section__min-col-3
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/Fnatic_Logo.png", alt="")
        .team-match__logo-title fnatic
    .team-match__inner.dvsion-match__inner
      .team-match__info
        .team-match__info-time-wr
          .team-match__info-date 02.02.15
          .team-match__info-time 9:00PM EST
        .team-match__match-status
          span.status__vs vs
        .team-match__map-title DE_INFERNO
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/cloud-logo.png", alt="")
        .team-match__logo-title cloud

  .dvsion-section__min.dvsion-section__min-col-3
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/Fnatic_Logo.png", alt="")
        .team-match__logo-title fnatic
    .team-match__inner.dvsion-match__inner
      .team-match__info
        .team-match__info-time-wr
          .team-match__info-date 02.02.15
          .team-match__info-time 9:00PM EST
        .team-match__match-status
          span.status__vs vs
        .team-match__map-title DE_INFERNO
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/300px-Clg_logo.png", alt="")
        .team-match__logo-title cloud

.dvsion-section__row
  .dvsion-section__min.dvsion-section__min-col-3.dvsion-section__min-live
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/Fnatic_Logo.png", alt="")
        .team-match__logo-title fnatic
    .team-match__inner.dvsion-match__inner
      .team-match__info
        .team-match__info-time-wr
          .team-match__info-time-live LIVE!
        .team-match__match-status
          span.dvsion-score.dvsion-score_left 14
          span.status__vs.dvsion-status__vs vs
          span.dvsion-score.dvsion-score_right 7
        .team-match__map-title DE_INFERNO
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/300px-Clg_logo.png", alt="")
        .team-match__logo-title cloud

  .dvsion-section__min.dvsion-section__min-col-3
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/Fnatic_Logo.png", alt="")
        .team-match__logo-title fnatic
    .team-match__inner.dvsion-match__inner
      .team-match__info
        .team-match__info-time-wr
          .team-match__info-date 02.02.15
          .team-match__info-time 9:00PM EST
        .team-match__match-status
          span.status__vs vs
        .team-match__map-title DE_INFERNO
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/300px-Clg_logo.png", alt="")
        .team-match__logo-title cloud

  .dvsion-section__min.dvsion-section__min-col-3
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/Fnatic_Logo.png", alt="")
        .team-match__logo-title fnatic
    .team-match__inner.dvsion-match__inner
      .team-match__info
        .team-match__info-time-wr
          .team-match__info-date 02.02.15
          .team-match__info-time 9:00PM EST
        .team-match__match-status
          span.status__vs vs
        .team-match__map-title DE_INFERNO
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/300px-Clg_logo.png", alt="")
        .team-match__logo-title fnatic

  .dvsion-section__min.dvsion-section__min-col-3.dvsion-section__min-final
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/Fnatic_Logo.png", alt="")
        .team-match__logo-title fnatic
    .team-match__inner.dvsion-match__inner
      .team-match__info
        .team-match__match-status
          span.dvsion-score.dvsion-score_left 14
          span.dvsion-status__vs final
          span.dvsion-score.dvsion-score_right 7
        .team-match__map-title DE_INFERNO
    .team-match__inner
      a(href="match-page.html").team-match__logo-wr.team-match__logo_dvsion
        img(src="img/300px-Clg_logo.png", alt="")
        .team-match__logo-title cloud

