footer.main-footer
  .container.container__prompt
    .footer__bottom
      .row
        .col-xs-7
          p.copyright-block
            span.copyright-block__main-text dvsion e-sports 
            | copyright © 2014-2015 all rights reserved
        .col-xs-5.text-right
          ul.footer-bottom__list-nav
            li: a(href="") Terms of Use
            li: a(href="") Privacy Policy
            li: a(href="") DMCA Policy
