footer.main-footer
  .container
    .footer__top.clearfix
      .footer__logo-wr
        img(src="img/logo-footer.png", alt="").img-responsive
      .footer__main-nav-wr
        nav.footer__main-nav
          ul
            li: a(href="") league
            li: a(href="") watch
            li: a(href="") stats
            li: a(href="") about
            li: a(href="") sponsors
            li: a(href="") forum
        .row.footer__other-links-wr
          .col-xs-3
            h3.footer-links-menu__title about us
            ul.footer-links-menu__list
              li: a(href="") our mission
              li: a(href="") our team
              li: a(href="") our partners
              li: a(href="") our projects
          .col-xs-3
            h3.footer-links-menu__title partnership
            ul.footer-links-menu__list
              li: a(href="") press kit
              li: a(href="") sponsor kit
              li: a(href="") advertisement
              li: a(href="") team@divsionesports.com
          .col-xs-3
            h3.footer-links-menu__title careers
            ul.footer-links-menu__list
              li: a(href="") job openings
              li: a(href="") moderator application
              li: a(href="") jobs@divsionesports.com
          .col-xs-3
            h3.footer-links-menu__title contact us
            ul.footer-links-menu__list
              li: a(href="mailto:info@divsionesports.com") info@divsionesports.com
              li 1 800 555 1234
              li
                strong Dvsion Esports
                br
                | 123 Main St.
                br
                | City, ST, 01234
        .footer-soc-menu
          ul
            li: a(href="")
              //- i.soc-icon.sprite-twitch
              i.soc-icon.fa.fa-twitch
            li: a(href="")
              //- i.soc-icon.sprite-twitter
              i.soc-icon.fa.fa-twitter
            li: a(href="")
              //- i.soc-icon.sprite-facebook
              i.soc-icon.fa.fa-facebook
            li: a(href="")
              //- i.soc-icon.sprite-steam
              i.soc-icon.fa.fa-steam
    .footer__bottom
      .row
        .col-xs-7
          p.copyright-block
            span.copyright-block__main-text dvsion e-sports 
            | copyright © 2014-2015 all rights reserved
        .col-xs-5.text-right
          ul.footer-bottom__list-nav
            li: a(href="") Terms of Use
            li: a(href="") Privacy Policy
            li: a(href="") DMCA Policy



.modal.fade.login-modal(tabindex='-1', role='dialog')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header.header_top-line
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            i.sprite-close-black
        h4#loginModalLabel.modal-title
          span.modal-title-importnat-text login
          | /register
      .modal-body
        form(action="").login-form
          // .form-group-lg.has-success.has-feedback
          .form-group-margin
            .form-group-lg.form-group__d-tb
              .input-group.input-group-addon__wr
                span.input-group-addon
                  i.sprite-user
                input.form-control(type='text', aria-describedby='', placeholder="Login")
              // span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
            .form-group-lg.form-group__d-tb.has-error.has-feedback
              .input-group.input-group-addon__wr
                span.input-group-addon
                  i.sprite-lock-selected
                input.form-control(type='password', aria-describedby='', placeholder="Password")
              span.glyphicon.glyphicon-remove.form-control-feedback.tooltip__wr
                span.form-control__tooltip Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          .form-group-margin.clearfix
            .checkbox_custom.remember-checkbox
              input(type='checkbox', value='option1')#ch1
              label(for="ch1") Remember me
            a(href="").lose-password-link Lost your password?

          .clearfix
            button.btn.btn-default.btn-lg.pull-left.modal-btn-success-hover.modal-btn(type='button', data-toggle="modal") login
            button.btn.btn-default.btn-lg.pull-right.modal-btn-danger-hover.modal-btn(type='button', data-toggle="modal", data-target=".registration-modal") register




.modal.fade.registration-modal(tabindex='-1', role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header.header_top-line
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            i.sprite-close-black
        h4#registrationModalLabel.modal-title
          .row
            .col-xs-6
              span.modal-title-importnat-text register
              | /sign up
            .col-xs-6
              span.modal-title-importnat-text why divsion?

      .modal-body
        form(action="").login-form.form-horizontal
          .row.registration__form-wr
            .col-xs-6
              .form-group-margin
                .form-group-lg.form-group__d-tb.has-success.has-feedback
                  .input-group.input-group-addon__wr
                    span.input-group-addon
                      i.sprite-user
                    input.form-control(type='text', aria-describedby='', placeholder="Login")
                  span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
                .form-group-lg.form-group__d-tb.has-success.has-feedback
                  .input-group.input-group-addon__wr
                    span.input-group-addon
                      i.sprite-lock
                    input.form-control(type='password', aria-describedby='', placeholder="PASSWORD")
                  span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
                .form-group-lg.form-group__d-tb.has-success.has-feedback
                  .input-group.input-group-addon__wr
                    span.input-group-addon
                      i.sprite-lock-selected
                    input.form-control(type='password', aria-describedby='', placeholder="PASSWORD")
                  span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')

              .form-group-margin
                .form-group-lg.form-group__d-tb
                  .input-group.input-group-addon__wr
                    span.input-group-addon
                    input.form-control(type='text', aria-describedby='', placeholder="FIRST NAME")
                .form-group-lg.form-group__d-tb
                  .input-group.input-group-addon__wr
                    span.input-group-addon
                    input.form-control(type='text', aria-describedby='', placeholder="LAST NAME")
                .form-group-lg.form-group__d-tb
                  .input-group.input-group-addon__wr
                    span.input-group-addon
                    input.form-control(type='text', aria-describedby='', placeholder="STEAM ID NUMBER")

                .row.form-group-lg.form-group-inputs
                  label.control-label.col-xs-3 D.O.B.
                  .col-xs-9
                    .row.form-group__d-tb
                      .col-xs-4.custom-select__wr
                        select.custom-select.form-control
                          option(value="") mon
                          option(value="") 2
                      .col-xs-8
                        .row.row_without-padding
                          .col-xs-5
                            input.form-control(type='text', aria-describedby='', placeholder="00")
                          .col-xs-7
                            input.form-control(type='text', aria-describedby='', placeholder="0000")
                .row.form-group-lg.form-group-inputs
                  label.control-label.col-xs-3 GENDER
                  .col-xs-9.custom-select__wr
                    select.custom-select.form-control
                      option(value="") MALE
                      option(value="") 2


                .form-group-lg.form-group__d-tb.has-success.has-feedback
                  .input-group.input-group-addon__wr
                    span.input-group-addon @
                    input.form-control(type='email', aria-describedby='', placeholder="EMAIL")
                  span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
                .form-group-lg.form-group__d-tb.has-success.has-feedback
                  .input-group.input-group-addon__wr
                    span.input-group-addon @
                    input.form-control(type='email', aria-describedby='', placeholder="EMAIL")
                  span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
              
              .form-group-margin.clearfix
                .checkbox_custom.remember-checkbox
                  input(type='checkbox', value='option1')#ch2
                  label(for="ch2") I have read and agree to the Terms & Conditions
            .col-xs-6.registration-description
              .clearfix
                .form-group-margin
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                
                .form-group-margin.text-center
                  a(href="").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn learn more

            button.btn.btn-default.btn-lg.pull-right.modal-btn-success-hover.modal-btn.registration-btn(type='button', data-toggle="modal", data-target=".email-confirmation-modal") continue


.modal.fade.email-confirmation-modal(tabindex='-1', role='dialog')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header.header_top-line
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true')
            i.sprite-close-black
        h4#emailConfirmationModalLabel.modal-title
          span.modal-title-importnat-text email 
          | confirmation
      .modal-body
        p Hey! We just sent you an email to confirm your account. Just follow the instructions of the email and you will be all set. In the meantime you can let us know what steam games you play. 
        p
         strong Why Do this?
         | This lets us better understand our userbase and try to give you exactly what you crave. A lot of you play a certain game? We will try to get that game on our servers and better cater to you our user.

      .modal-footer
        button.btn.btn-default.btn-lg.pull-left.modal-btn-danger-hover.modal-btn(type='button') skip for now
        button.btn.btn-default.btn-lg.pull-right.modal-btn-success-hover.modal-btn(type='button') link games

