- var searchBlock = true;

header.main-header
  .main-header__inner
    .container
      .row.row_without-padding.header__container-inner
        .col-xs-7.header__left-menu-wr
          .btn-menu.js-dd-btn.pull-left
            .navicon-line.navicon-line_top
            .navicon-line
            .navicon-line.navicon-line_hedden
          h1.logo__wr
            a(href="index.html")
              img(src="img/logo.png", alt="logo.png").img-responsive
        .col-xs-5
          .pull-right
            .header__login-block
              .user__log-out
                ul
                  li: a(href="" data-toggle="modal" data-target=".login-modal") login
                  li: a(href="") join
              .user__log-in.hidden
                a(href="").header__user-name user name
                .header__user-avatar
                  img(src="img/user-avatar-none.jpg", alt="").img-responsive
                  // img(src="img/user-avatar.jpg", alt="").img-responsive
            form(id="", method="", action="").header__search-form
              .search-form__input-group
                span.search-form__input-group-btn
                  button(type="button").btn-search.btn.btn-danger.btn-lg
                    //- span.sprite-search
                    i.fa.fa-search
                span.search-form__input-group-input
                  input(type="text", placeholder="Searchable").form-control.input-lg
      nav.main-nav.js-dd
        ul
          li: a(href="") league
          li: a(href="") watch
          li: a(href="") stats
          li: a(href="") about
          li: a(href="") sponsors
          li: a(href="") forum
