- var searchBlock = true;

header.main-header
  .container
    .row
      .col-xs-8
        .pull-left
          h1.logo__wr
            a(href="index.html")
              img(src="img/logo.png", alt="logo.png").img-responsive
        .pull-left
          nav.main-nav
            ul
              li: a(href="") league
              li: a(href="") watch
              li: a(href="") stats
              li: a(href="") about
              li: a(href="") sponsors
              li: a(href="") forum
      .col-xs-4
        .pull-right
          ul.additional-menu
            li: a(href="") login
            li: a(href="") join
          form(id="", method="", action="").header__search-form
            .search-form__input-group
              span.search-form__input-group-btn
                button(type="button").btn-search.btn.btn-danger.btn-lg
                  span.sprite-search
              span.search-form__input-group-input
                input(type="text", placeholder="Search...").form-control.input-lg