.league-games-list
  .league-games-list__item.displey-tb
    .displey-t-s 
      .league-games__number 1
    .displey-t-s.league-games__team-logo-wr
      span.league-games__team-logo
        img(src="img/cloud-logo.png", alt="")
      span.league-games__logo-title cloud
    .displey-t-s.league-games__team-score-wr
      .league-games__team-score
        | 14 
        span - 
        | 3
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_danger
        span l
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w

  .league-games-list__item.displey-tb
    .displey-t-s 
      .league-games__number 2
    .displey-t-s.league-games__team-logo-wr
      span.league-games__team-logo
        img(src="img/300px-Liquidlogobig.png", alt="")
      span.league-games__logo-title team liquid
    .displey-t-s.league-games__team-score-wr
      .league-games__team-score
        | 14 
        span - 
        | 3
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_danger
        span l
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w

  .league-games-list__item.displey-tb
    .displey-t-s 
      .league-games__number 3
    .displey-t-s.league-games__team-logo-wr
      span.league-games__team-logo
        img(src="img/cloud-logo.png", alt="")
      span.league-games__logo-title cloud
    .displey-t-s.league-games__team-score-wr
      .league-games__team-score
        | 14 
        span - 
        | 3
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_danger
        span l
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w

  .league-games-list__item.displey-tb
    .displey-t-s 
      .league-games__number 4
    .displey-t-s.league-games__team-logo-wr
      span.league-games__team-logo
        img(src="img/Fnatic_Logo.png", alt="")
      span.league-games__logo-title fnatic
    .displey-t-s.league-games__team-score-wr
      .league-games__team-score
        | 14 
        span - 
        | 3
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_danger
        span l
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w

  .league-games-list__item.displey-tb
    .displey-t-s 
      .league-games__number 5
    .displey-t-s.league-games__team-logo-wr
      span.league-games__team-logo
        img(src="img/300px-Clg_logo.png", alt="")
      span.league-games__logo-title counter logic
    .displey-t-s.league-games__team-score-wr
      .league-games__team-score
        | 14 
        span - 
        | 3
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_danger
        span l
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w

  .league-games-list__item.displey-tb
    .displey-t-s 
      .league-games__number 6
    .displey-t-s.league-games__team-logo-wr
      span.league-games__team-logo
        img(src="img/Fnatic_Logo.png", alt="")
      span.league-games__logo-title fnatic
    .displey-t-s.league-games__team-score-wr
      .league-games__team-score
        | 14 
        span - 
        | 3
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_danger
        span l
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w

  .league-games-list__item.displey-tb
    .displey-t-s 
      .league-games__number 7
    .displey-t-s.league-games__team-logo-wr
      span.league-games__team-logo
        img(src="img/300px-Liquidlogobig.png", alt="")
      span.league-games__logo-title team liquid
    .displey-t-s.league-games__team-score-wr
      .league-games__team-score
        | 14 
        span - 
        | 3
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_danger
        span l
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w

  .league-games-list__item.displey-tb
    .displey-t-s 
      .league-games__number 8
    .displey-t-s.league-games__team-logo-wr
      span.league-games__team-logo
        img(src="img/Fnatic_Logo.png", alt="")
      span.league-games__logo-title cloud
    .displey-t-s.league-games__team-score-wr
      .league-games__team-score
        | 14 
        span - 
        | 3
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_danger
        span l
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w
    .displey-t-s.league-games__game-result-item-wr
      .league-games__game-result-item.team-match__lb_min.team-match__lb_success
        span w