.row.row_without-padding.displey-tb.index-news
  .col-xs-7.displey-t-s.index__news-aside-left
    //- img(src="img/big-img-1.jpg", alt="").img-responsive
    .btn-left-bottom.soc-btn-group
      include _soc-btn-group

    section.section__news.index-main-img__info
      header.post__header.index-main-img__info-header.header_top-line
        h4.header__min-title cs:go news
        h4.header__big-title.text-primary fnatic goes all out
        .header__additional-information Winners of 6 straight, can anyone stop them? Our analysts weigh in
        .post-info
          span.news-by Michael 
            span.nick-name c12 
            | Del Muro
          time.add-time
            span March 10, 2015
      .post__body.index-main-img__info-body
        p Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas. Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas.

  .col-xs-5.displey-t-s.index__news-aside-right
    section.section__news.section__min-news.section__min-news_top
      header.post__header.header_top-line
          h4.header__min-title cs:go news
          h4.header__big-title dvsion announces newest league 
          .header__additional-information After a succesful start, Dvsion its launches newest league
          .post-info
            span.news-by by Jane 
             span.nick-name theC00l 
             | doe
            time.add-time
              span March 7, 2015
      .post__body
        p Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas. Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas.
      .btn-right-bottom.soc-btn-group
        include _soc-btn-group

    section.section__news.section__min-news.section__min-news_bottom
      .owl-carousel1
        .item
          header.post__header.header_top-line
              h4.header__min-title cs:go news
              h4.header__big-title dvsion announces newest league 
              .header__additional-information After having success with Elevate, Desi jumps ship
              .post-info
                span.news-by by Jane 
                 span.nick-name theC00l 
                 | doe
                time.add-time
                  span March 6, 2015
          .post__body
            p Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur.
        .item
          header.post__header.header_top-line
              h4.header__min-title cs:go news
              h4.header__big-title dvsion announces newest league 
              .header__additional-information After having success with Elevate, Desi jumps ship
              .post-info
                span.news-by by Jane 
                 span.nick-name theC00l 
                 | doe
                time.add-time
                  span March 6, 2015
          .post__body
            p Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

