.row.row_without-padding
  .col-xs-4
    a(href="").hover-effect__link
      .thumbnail-img
        img(src="img/section-3-img.jpg", alt="").img-responsive
      .thumbnail-img__text watch
  .col-xs-4
    a(href="").hover-effect__link
      .thumbnail-img
        img(src="img/section-3-img.jpg", alt="").img-responsive
      .thumbnail-img__text compete
  .col-xs-4
    a(href="").hover-effect__link
      .thumbnail-img
        img(src="img/section-3-img.jpg", alt="").img-responsive
      .thumbnail-img__text play
