.row.row_without-padding.displey-tb
  .col-xs-5.displey-t-s.video__wr
    .vide-player
      .btn-play.btn-square.btn-danger
        //- i.sprite-arrow-right
        i.fa.fa-caret-right

  .col-xs-7.displey-t-s.video__info-wr
    .video__info
      h3.video-title join today
      p.video-text
        | Join over 10,000 other gamers and play the latest games
        br
        | against the best there is.
