ul.soc-btn-group__list.js-soc-dd
  li: a(href="")
    i.fa.fa-facebook
  li: a(href="")
    i.fa.fa-twitter
  li: a(href="")
    i.fa.fa-comment
.btn-square.btn-danger.js-soc-btn
  //- i.glyphicon.glyphicon-plus
  i.sprite-plus
  //- i.soc-icon-btn.fa.fa-plus