// ==========================================================================
//    Author's custom styles
// ==========================================================================
html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
}

.main-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.main-content {
    display: table-row;
    height: 100%;
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    min-width: $container-large-desktop;
    min-height: 100%;
    margin: 0 auto;
    color: $gray;
    background-color: #E3E5E5;
    position: relative;
    z-index: 1;
}

.row-min {
    margin-left: -5px;
    margin-right: -5px;
    @extend .clearfix;
}

[class*="col-pc-"] {
    float: left;
    padding: 0 5px;
}

.col-10-pc {
    width: 10%;
}

.col-pc-20 {
    width: 20%;
}

.col-pc-33 {
    width: 33.3333%;
}

.col-pc-30 {
    width: 30%;
}

.col-pc-40 {
    width: 40%;
}

.col-pc-50 {
    width: 50%;
}

.col-pc-60 {
    width: 60%;
}

.col-pc-70 {
    width: 70%;
}

.col-pc-80 {
    width: 80%;
}

.col-pc-90 {
    width: 90%;
}

.col-pc-100 {
    width: 100%;
}

.main-block {
    padding-top: 70px;
    min-height: 500px;
}

.min-section__wr {
    margin-bottom: 70px;
}

.text-success {
    color: $brand-success;
}

.text-danger {
    color: $brand-danger;
}

.row_without-padding {
    margin: 0;
    [class*="col"] {
        padding: 0;
    }
}

.displey-t-s {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.displey-tb {
    width: 100%;
    margin: 0;
    table-layout: fixed;
    display: table;
}

a.hover-effect__link {
    color: inherit;
    text-decoration: none;
    display: block;
    background-color: #4B4B4B;
    .thumbnail-img {
        @include opacity(.7);
        position: relative;
        overflow: hidden;
        @include transition(all .2s linear);
        img {
            min-width: 100%;
        }
    }
    .thumbnail-img__text {
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        text-align: center;
        color: #F4F4F4;
        font-size: 35px;
        line-height: 40px;
        margin-top: -20px;
        font-weight: 900;
        text-transform: uppercase;
    }
    &:hover {
        .thumbnail-img {
            @include opacity(1);
        }
    }
}

.btn-square {
    width: 70px;
    height: 70px;
    line-height: 70px;
    cursor: pointer;
    text-align: center;
    background-color: $gray-dark;
    padding: 0;
    &:hover {
        cursor: pointer;
        background-color: $gray;
    }
    &.btn-danger {
        background: $brand-danger;
        &:hover {
            background: darken($brand-danger, 5%);
        }
    }
    .fa {
        font-size: 30px;
        line-height: 30px;
        vertical-align: middle;
    }
}

.soc-btn-group__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    a {
        @include transition(all .1s linear);
        background: #fff;
        color: #c6c6c6;
        display: block;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        vertical-align: middle;
        font-size: 30px;
        background-color: #F4F4F4;
        border: 1px solid #E3E5E5;
        &:hover {
            color: $brand-danger;
        }
    }
}

.js-soc-btn {
    .soc-icon-btn,
    .sprite-plus {
        @include transition(all .1s linear);
    }
    &:hover,
    &.active {
        .soc-icon-btn,
        .sprite-plus {
            @include transform(rotate(45deg));
        }
    }
}

.modal-dialog {
    margin: 8% auto 30px;
}

.modal-btn-danger-hover {
    &:hover,
    &:focus {
        background: $brand-danger;
        border-color: $brand-danger;
        color: #fff;
    }
}

.modal-btn-success-hover {
    &:hover,
    &:focus {
        background: $brand-success;
        border-color: $brand-success;
        color: #fff;
    }
}

.btn,
a,
button {
    @include transition(all .1s linear);
    &:focus {
        outline: none;
    }
}

.modal-header {
    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
    }
}

.modal-btn {
    min-width: 175px;
    text-transform: uppercase;
}

.modal-title {
    color: $brand-primary;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.modal-title-importnat-text {
    font-weight: 900;
}

.modal-footer {
    padding-top: 0;
}

.form-control-feedback {
    height: 36px;
    width: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 22px;
    top: 12px;
    right: 12px;
}

.has-error {
    .form-control-feedback {
        background-color: $brand-primary;
        color: #fff;
    }
    .input-group-addon {
        color: $brand-primary;
    }
}

.has-success {
    .form-control-feedback {
        background-color: $brand-success;
        color: #fff;
    }
    .input-group-addon {
        color: #E3E5E5;
    }
}

.tooltip__wr {
    pointer-events: visible;
    &:hover {
        .form-control__tooltip {
            display: block;
        }
    }
}

.form-control__tooltip {
    display: none;
    position: absolute;
    background: #434343;
    color: #fff;
    bottom: 100%;
    width: 200px;
    z-index: 100;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    text-align: left;
    margin-left: -100px;
    left: 50%;
    margin-bottom: 8px;
    &:after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #434343 transparent transparent;
    }
}

.input-group-addon__wr {
    width: 100%;
    border-spacing: 2px 1px;
}

.input-group-addon {
    width: 60px;
    border: transparent;
    background: #fff;
    color: #E3E5E5;
    font-size: 25px;
}

.form-group-margin {
    margin-bottom: $form-group-margin-bottom;
    .form-group-lg {
        .form-control {
            border-color: transparent;
            @include box-shadow(none);
            &:focus {
                border-color: #ccc;
            }
        }
    }
}

.custom-select__wr {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 28px;
        right: 10px;
        border-width: 6px;
        border-style: solid;
        border-color: $gray transparent transparent transparent;
    }
}

.form-group-sm {
    .custom-select__wr {
        &:after {
            top: 19px;
            right: 10px;
            border-width: 4px;
        }
    }
    label.control-label {
        font-size: 12px;
    }
    .input-group-addon {
        width: 38px;
    }
}

.form-horizontal .form-group-sm.has-feedback .form-control-feedback {
    top: 5px;
    right: 5px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    font-size: 18px;
}

.custom-select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: inherit;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 25px;
    &::-ms-expand {
        display: none;
    }
    &:focus {
        outline: none;
    }
}

.lt-ie10 {
    .custom-select__wr {
        &:after {
            display: none;
        }
    }
    .custom-select.form-control {
        padding-right: 5px;
    }
}

.form-group__d-tb {
    margin-left: -2px;
    margin-right: -2px;
}

.form-group-inputs {
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: 1px;
    margin-top: 1px;
    [class*="col"] {
        padding-left: 1px;
        padding-right: 1px;
    }
    ~ .form-group-inputs {
        margin-top: 2px;
    }
}

.form-horizontal .control-label {
    text-align: left;
    color: #B4B4B4;
    font-size: 18px;
    font-weight: 400;
}

.checkbox_custom {
    /* Base for label styling */
    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 20px;
        cursor: pointer;
    }
    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 4px;
        width: 11px;
        height: 11px;
        // border: 1px solid $brand-info;
        background-color: #F4F4F4;
        @include transition(all .2s);
    }
    [type="checkbox"]:checked + label:before {
        background: $brand-danger;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
        background: $brand-danger;
        @include transition(all .2s);
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
        color: #999;
    }
    [type="checkbox"]:disabled + label {
        color: #aaa;
    }
    /* accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6));
    }
}

.remember-checkbox {
    display: inline-block;
    margin-right: 15px;
    color: $gray-light;
    font-size: 13px;
    font-weight: 400;
}

.lose-password-link {
    color: $gray-light;
    font-weight: 700;
    &:hover {
        color: $gray-light;
    }
}

.registration__form-wr {
    position: relative;
}

.registration-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.registration-description {
    padding-bottom: 80px;
}

.tuble-custom {
    width: 100%;
    margin-bottom: 15px;
    th {
        text-align: center;
        color: #e3e5e5;
        padding: 10px;
        &:first-child {
            text-align: left;
        }
    }
    td {
        text-align: center;
        padding: 10px;
        border: 1px solid #e3e5e5;
        &:first-child {
            border-left: none;
            text-align: left;
        }
        &:last-child {
            border-right: none;
        }
    }
}

.modal-content_white {
    background: #fff;
}

.modal-content_min-pd {
    .modal-body {
        padding: 15px 10px;
    }
    .modal-footer {
        padding: 15px 10px;
    }
}

//##################
// forms
//##################
.form-control {
    @include box-shadow(none);
    text-transform: uppercase;
}

.revealOnScroll {
    opacity: 0;
}

.revealOnScroll.animated {
    opacity: 1;
}

::-webkit-input-placeholder {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: normal;
    // /* WebKit browsers */
    text-transform: uppercase;
}

:-moz-placeholder {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: normal;
    // /* Mozilla Firefox 4 to 18 */
    text-transform: uppercase;
}

::-moz-placeholder {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: normal;
    // /* Mozilla Firefox 19+ */
    text-transform: uppercase;
}

:-ms-input-placeholder {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: normal;
    // /* Internet Explorer 10+ */
    text-transform: uppercase;
}

//##################
// end forms
//##################
