// usage: <span class="{-spritename-} sprite"></span>
// replace {-spritename-} with the sprite you like to use

// .sprite {display:inline-block; vertical-align: middle ; overflow:hidden; background-repeat: no-repeat;background-image:url(../img/map.png);}
[class*="sprite"] {display:inline-block; vertical-align: middle ; overflow:hidden;}

$sprite-sprite-dimensions: true;
$sprite-layout: smart;
@import "sprite/*.png";
@include all-sprite-sprites;