head
  meta(charset='utf-8')
  //- meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  link(rel='shortcut icon', href='favicon/favicon.ico', type='web/image/pngIllegal return statement')
  link(rel="icon", type="image/png", href="favicon/favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="favicon/favicon-16x16.png", sizes="16x16")

  block head
  title= pageTitle
  meta(name='description' content=pageDescription)
  meta(name='keywords' content=pageKeywords)
  meta(name='copyright' content=pageCopyright)

  // build:css css/vendor.css
  // bower:css
  link(rel='stylesheet', href='bower_components/animate.css/animate.css')
  link(rel='stylesheet', href='bower_components/fontawesome/css/font-awesome.css')
  link(rel='stylesheet', href='bower_components/select2/dist/css/select2.css')
  // endbower
  link(rel='stylesheet', href='bower_components/owl-carousel2/dist/assets/owl.carousel.min.css')
  link(rel='stylesheet', href='css/bootstrap.css')
  // endbuild

  block css

  // build:css css/main.css
  link(rel='stylesheet', href='css/style.css')
  // endbuild


  // build:js scripts/vendor.js
  // bower:js
  script(src='bower_components/modernizr/modernizr.js')
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js')
  script(src='bower_components/select2/dist/js/select2.js')
  // endbower
  block vendor-js
  script(src='bower_components/owl-carousel2/dist/owl.carousel.min.js')
  // endbuild

  block js

  // build:js scripts/main.js
  script(src='js/main.js')
  script(src='js/plugin.js')
  // endbuild

