extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content

  .min-section__wr.section-2__wr
    .container
      .video__wr
        .vide-player
          .btn-play.btn-square.btn-danger
            //- i.sprite-arrow-right
            i.fa.fa-caret-right
          .btn-right-bottom.soc-btn-group
            include templates/blocks/_soc-btn-group

  .min-section__wr#top
    .container
      article.article
        header.article__header.header_top-line.header_top-line-min
          .row
            .col-xs-6
              p.article__tag CS:GO NEWS
            .col-xs-6
              time.article__public-time March 10, 2015 9:30AM

          h1.article__title dvsion announces news league
          h2.article__title-min After a succesful start, Dvsion is ready to launch its newest league

          .article__nav.clearfix.js-article__nav_fixed
            .article__nav-container
              .article__nav_left
                .article__author
                  .article__author-photo
                    img(src="img/autor-photo.jpg", alt="").img-responsive
                  .article__author-name
                    .vertical-center
                      | Jane 
                      span.other-color DuhB0mb 
                      | Doe
                      .article__author-position dvsion writer
              a(href="").article__nav_right
                .article__next-arrow
                  span.sprite.sprite-arrow-right-gr
                .vertical-center__wr.article__next-title-group
                  .vertical-center
                    .article__next-title desi out for grand finals
                    .article__next-title-min previous article
              .article__nav_center
                .article__read-more-wr
                  a(href="#top").vertical-center read more

        .article-body
          .article-aside
            .article-aside__min-section
              a(href="").article-aside__link-more more cs:go news
            a(href="").article-aside__min-section
              .article-aside__min-section-photo
                img(src="http://dummyimage.com/120x120/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image").img-responsive
              .article-aside__min-section-title-wr
                .article-aside__min-section-title
                  .article-aside__min-section-title-big desi out for grand finals
                  .article-aside__min-section-title-min Who will step in to take his spot?
            a(href="").article-aside__min-section
              .article-aside__min-section-photo
                img(src="http://dummyimage.com/120x120/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image").img-responsive
              .article-aside__min-section-title-wr
                .article-aside__min-section-title
                  .article-aside__min-section-title-big some other article about other things
                  .article-aside__min-section-title-min Who will step in to take his spot?
            a(href="").article-aside__min-section
              .article-aside__min-section-photo
                img(src="http://dummyimage.com/120x120/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image").img-responsive
              .article-aside__min-section-title-wr
                .article-aside__min-section-title
                  .article-aside__min-section-title-big desi out for grand finals
                  .article-aside__min-section-title-min Who will step in to take his spot?
            a(href="").article-aside__min-section
              .article-aside__min-section-photo
                img(src="http://dummyimage.com/120x120/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image").img-responsive
              .article-aside__min-section-title-wr
                .article-aside__min-section-title
                  .article-aside__min-section-title-big desi out for grand finals
                  .article-aside__min-section-title-min Who will step in to take his spot?
          .article-content
            .table-title March 9, 2015 4:00PM EST
              span de_inferno
            table
              tbody
                tr
                  td(rowspan="2" width="140" style="text-align: center") COMPLETE BOX SCORE
                  td CLOUD 9
                  td(width="70" style="color: #c64628; font-size: 34px; font-weight: 900; text-align: center") 8 
                tr
                  td FNATIC
                  td(width="70" style="color: #96be5c; font-size: 34px; font-weight: 900; text-align: center") 16
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed tristique orci. Phasellus ut eleifend risus. Aliquam orci enim, commodo eget odio ac, aliquet fringilla eros. Nam urna nisi, venenatis eget mattis sit amet, pharetra sit amet felis. Donec cursus egestas ipsum, hendrerit vehicula orci dignissim ac. Cras at sagittis augue. Praesent porta efficitur velit, nec malesuada urna pharetra in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque vehicula porta lacinia. Suspendisse eget ligula eu risus semper pulvinar. Praesent sit amet feugiat lorem. Nullam non lorem vitae libero rutrum tincidunt ut non ante. Mauris mollis, ex at 
              a(href="") scelerisque
              |  consequat, augue elit sollicitudin eros, quis pulvinar mauris libero tempor diam. Donec pharetra lorem nec ipsum malesuada tristique. Mauris aliquam nibh posuere libero malesuada, sed scelerisque sapien ultricies. Sed imperdiet semper leo quis pellentesque.
            p Nunc ullamcorper rutrum enim, ut rhoncus ligula convallis eget. Nulla facilisis dolor et sem sollicitudin semper. Mauris scelerisque posuere libero nec vestibulum. Nunc egestas risus a ante sagittis, a pretium nibh ullamcorper. Integer ac tempus nibh. Aenean mollis tellus eget dignissim condimentum. Fusce sit amet tempus sapien, vitae vehicula dolor. Nunc iaculis pretium justo a pellentesque. Donec molestie ante nec est ultricies rhoncus. Duis a vehicula tellus.
            p Ut vel ante eget quam finibus consequat eget ac lacus. Vestibulum metus libero, pulvinar et ex ac, luctus bibendum dui. Donec vel vulputate turpis, et blandit lorem. Ut finibus, turpis et eleifend facilisis, ligula lorem lobortis tellus, et ullamcorper augue odio id neque. Vestibulum ut magna vitae erat volutpat lobortis id nec dolor. Vestibulum vel lectus purus. Ut interdum commodo augue, non ullamcorper est sodales consectetur. Praesent gravida auctor eleifend. Aliquam erat volutpat. In posuere urna ut arcu aliquam efficitur.

            img(src="http://dummyimage.com/950x540/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image")

            p Ut vel ante eget quam finibus consequat eget ac lacus. Vestibulum metus libero, pulvinar et ex ac, luctus bibendum dui. Donec vel vulputate turpis, et blandit lorem. Ut finibus, turpis et eleifend facilisis, ligula lorem lobortis tellus, et ullamcorper augue odio id neque. Vestibulum ut magna vitae erat volutpat lobortis id nec dolor. Vestibulum vel lectus purus. Ut interdum commodo augue, non ullamcorper est sodales consectetur. Praesent gravida auctor eleifend. Aliquam erat volutpat. In posuere urna ut arcu aliquam efficitur.

            p Etiam tempor maximus nunc sit amet pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis convallis mi eget convallis lobortis. Vivamus a mi nisi. Nunc semper condimentum mi, congue vehicula metus viverra a. Aliquam at mi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt dui libero, eget ultricies massa interdum nec. Mauris elementum ultricies nisl eget consequat. In sollicitudin libero id lorem tempus varius quis a metus. cursus sem a cursus rhoncus. Mauris faucibus ante sit amet dui iaculis, a egestas lorem egestas. Curabitur sed lorem imperdiet, placerat turpis quis, volutpat urna.




