extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content
  .min-section__wr.section-1__wr.revealOnScroll(data-animation="fadeIn", data-timeout="100")
    .container
      include templates/blocks/_section-1

  .min-section__wr.section-2__wr.revealOnScroll(data-animation="fadeIn", data-timeout="200")
    .container
      include templates/blocks/_section-2

  .min-section__wr.section-3__wr.revealOnScroll(data-animation="fadeIn", data-timeout="300")
    .container
      include templates/blocks/_section-3