extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content

  .min-section__wr
    .container
      .post-wr
        img(src="http://dummyimage.com/1520x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image").post-responsive

        .post-caption__wr
          p.post-caption__tag cs:go news
          h1.post-caption__title fnatic goes all out: wins a lot of crap
          p.post-caption__posted March 10, 2015
          p.post-caption__by
            | by Michael
            span c12 
            | Del Muro

          .post-caption__text
           p Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas. Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas.
        .btn-right-bottom.soc-btn-group
          include templates/blocks/_soc-btn-group

  .min-section__wr.dvsion-section__wr
    .container
      .section-header__wr
        h1.owl-carousel-dvsion__title dvsion
        a(href="").owl-carousel-dvsion__link complete scoreboard >
      .owl-carousel-dvsion
        .item(data-dot='<div class="owl-dot active"><span>league 1</span></div>')
          include templates/blocks/_dvsion-section
        .item(data-dot='<div class="owl-dot active"><span>league 2</span></div>')
          include templates/blocks/_dvsion-section
        .item(data-dot='<div class="owl-dot active"><span>league 3</span></div>')
          include templates/blocks/_dvsion-section


  .min-section__wr
    .container
      .displey-tb
        .news-block.displey-t-s
          .video__wr
            .vide-player
              .btn-play.btn-square.btn-danger
                //- i.sprite-arrow-right
                i.fa.fa-caret-right
          .news-block__text
            h1.post-caption__title dvsion: pro play 
              br
              | of the week
            p.post-caption__posted March 10, 2015
            p.post-caption__by
              | by Michael
              span c12 
              | Del Muro

            .post-caption__text
              p Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas. Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas.

              p Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas. Maecenas congue facilisis quam sit amet sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor finibus odio ut consectetur. Donec vitae dolor nisl. Etiam at odio sollicitudin turpis imperdiet egestas.
        .league-games-list-block.displey-t-s
          .section-header__wr
            a(href="").owl-carousel-dvsion__link complete standings >
          .owl-carousel-league-game
            .item
              include templates/blocks/_league-game-list
            .item
              include templates/blocks/_league-game-list
            .item
              include templates/blocks/_league-game-list
            .item
              include templates/blocks/_league-game-list


  .min-section__wr
    .container
      .row.row_without-padding
        .col-xs-4
          a(href="").hover-effect__link
            .thumbnail-img
              img(src="http://dummyimage.com/506x410/4d494d/686a82.gif&text=image" alt="image").post-responsive
              //- img(src="img/section-3-img.jpg", alt="").img-responsive
            .thumbnail-img__text featured match
        .col-xs-4
          a(href="").hover-effect__link
            .thumbnail-img
              img(src="http://dummyimage.com/506x410/4d494d/686a82.gif&text=image" alt="image").post-responsive
              //- img(src="img/section-3-img.jpg", alt="").img-responsive
            .thumbnail-img__text league leaders
        .col-xs-4
          a(href="").hover-effect__link
            .thumbnail-img
              img(src="http://dummyimage.com/506x410/4d494d/686a82.gif&text=image" alt="image").post-responsive
              //- img(src="img/section-3-img.jpg", alt="").img-responsive
            .thumbnail-img__text sign up




