extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content
  .container
    .inner-page
      .row.row-min.row-min_custom-col-width-1
        .col-xs-5
          .min-block.clearfix
            .match-block__left-section
              .min-block-center-info
                .match-block__content.match-block__content_left
                  .team-logo
                    img(src="img/team_LOGO.png", alt="")
                  .team-info
                    .team-title cloud 9 gg
                    .team-tag tag: c9
                    .team-dvsion
                      span 3rd 
                      | dvsion 1
                    .team-bill
                      | 12 
                      span - 
                      | 5

        .col-xs-2
          .min-block.clearfix
            .match__info
              .match-info-top
                .match-info-top-time-wr
                  span.match-info-top-date 02.02.15
                  span.match-info-top-time 9:00PM EST
                .match-info-top__map-title DE_INFERNO

                .match__info-top-score
                  span.text-success 16
                  span.match-info-top__match-status final
                  span.text-danger 14
              .match-links
                a(href="" , data-toggle="modal", data-target=".stat-modal") stats
                a(href="") demo

        .col-xs-5
          .min-block.clearfix
            .match-block__right-section
              .min-block-center-info
                .match-block__content.match-block__content_right
                  .team-logo_right
                    img(src="img/AREA.png", alt="")
                  .team-info
                    .team-title counter logic gaming
                    .team-tag TAG: CLG
                    .team-dvsion
                      span 6th 
                      | dvsion 1
                    .team-bill
                      | 9 
                      span - 
                      | 11
      .row.row-min
        .col-xs-6
          .statistic-players-block__wr
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/cap.jpg", alt="")
                    .player-c c
              .one-statistic-player__info
                .one-statistic-player__nick n0thing
                .one-statistic-player__name jordan gilbert
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 26
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 26
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 12
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.47
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/gm-2.jpg", alt="")
              .one-statistic-player__info
                .one-statistic-player__nick shr0ud
                .one-statistic-player__name michael grzesiek
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 22
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 16
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 6
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.23
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/gm-1.jpg", alt="")
                    .player-c a
              .one-statistic-player__info
                .one-statistic-player__nick shr0ud
                .one-statistic-player__name michael grzesiek
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 22
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 16
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 6
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.23
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/gm-3.jpg", alt="")
              .one-statistic-player__info
                .one-statistic-player__nick shr0ud
                .one-statistic-player__name michael grzesiek
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 22
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 16
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 6
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.23
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/gm-4.jpg", alt="")
              .one-statistic-player__info
                .one-statistic-player__nick shr0ud
                .one-statistic-player__name michael grzesiek
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 22
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 16
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 6
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.23
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 
        .col-xs-6
          .statistic-players-block__wr
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/cap.jpg", alt="")
                    .player-c c
              .one-statistic-player__info
                .one-statistic-player__nick n0thing
                .one-statistic-player__name jordan gilbert
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 26
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 26
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 12
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.47
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/gm-2.jpg", alt="")
              .one-statistic-player__info
                .one-statistic-player__nick shr0ud
                .one-statistic-player__name michael grzesiek
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 22
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 16
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 6
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.23
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/gm-1.jpg", alt="")
                    .player-c a
              .one-statistic-player__info
                .one-statistic-player__nick shr0ud
                .one-statistic-player__name michael grzesiek
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 22
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 16
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 6
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.23
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/gm-3.jpg", alt="")
              .one-statistic-player__info
                .one-statistic-player__nick shr0ud
                .one-statistic-player__name michael grzesiek
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 22
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 16
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 6
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.23
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 
            .one-statistic-player.clearfix
              .one-statistic-player__avatar
                .statistic-player
                  a(href="user-page.html")
                    img(src="img/gm-4.jpg", alt="")
              .one-statistic-player__info
                .one-statistic-player__nick shr0ud
                .one-statistic-player__name michael grzesiek
              .one-statistic-player__game-info
                .one-statistic-player__game-info_top
                  .game-info__item
                    .game-info__item-namber 22
                    .game-info__item-label kills
                  .game-info__item
                    .game-info__item-namber.text-danger 16
                    .game-info__item-label deaths
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_plus-minus 
                      span.text-success +
                      | 6
                    .game-info__item-label +/-
                  .game-info__item
                    .game-info__item-namber.game-info__item-namber_rating 1.23
                    .game-info__item-label rating
                .one-statistic-player__game-info_bottom
                  ul.player-info-k__list
                    li
                      span 0 
                      | 5K
                    li
                      span 1 
                      | 4K
                    li
                      span 3 
                      | 3K
                    li
                      span 2 
                      | 2K
                    li
                      span .362 
                      | HS% 

  .modal.fade.stat-modal(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
      .modal-content.modal-content_white.modal-content_min-pd
        .modal-body
          table.tuble-custom
            thead
              tr
                th Cloud9
                th RATING
                th K
                th A
                th D
                th +/-
                th KPR
                th ADR
                th K/D
                th HS
                th HS%
                th DB
                th BP
                th 2K
                th 3K
                th 4K
                th 4K
                th RP
            tbody
              tr
                td n0thing
                td 1.47
                td 26
                td 8
                td.text-danger 14
                td 
                  span.text-success +
                  | 12
                td 1.00
                td 102.3
                td 1.86
                td 9
                td 34.4
                td 3
                td 1
                td 2
                td 3
                td 1
                td 0
                td 26
              tr
                td n0thing
                td 1.47
                td 26
                td 8
                td.text-danger 14
                td 
                  span.text-success +
                  | 12
                td 1.00
                td 102.3
                td 1.86
                td 9
                td 34.4
                td 3
                td 1
                td 2
                td 3
                td 1
                td 0
                td 26
              tr
                td n0thing
                td 1.47
                td 26
                td 8
                td.text-danger 14
                td 
                  span.text-success +
                  | 12
                td 1.00
                td 102.3
                td 1.86
                td 9
                td 34.4
                td 3
                td 1
                td 2
                td 3
                td 1
                td 0
                td 26
              tr
                td n0thing
                td 1.47
                td 26
                td 8
                td.text-danger 14
                td 
                  span.text-success +
                  | 12
                td 1.00
                td 102.3
                td 1.86
                td 9
                td 34.4
                td 3
                td 1
                td 2
                td 3
                td 1
                td 0
                td 26

          table.tuble-custom
            thead
              tr
                th team2
                th RATING
                th K
                th A
                th D
                th +/-
                th KPR
                th ADR
                th K/D
                th HS
                th HS%
                th DB
                th BP
                th 2K
                th 3K
                th 4K
                th 4K
                th RP
            tbody
              tr
                td player1
                td 1.47
                td 26
                td 8
                td.text-danger 14
                td 
                  span.text-success +
                  | 12
                td 1.00
                td 102.3
                td 1.86
                td 9
                td 34.4
                td 3
                td 1
                td 2
                td 3
                td 1
                td 0
                td 26
              tr
                td player1
                td 1.47
                td 26
                td 8
                td.text-danger 14
                td 
                  span.text-success +
                  | 12
                td 1.00
                td 102.3
                td 1.86
                td 9
                td 34.4
                td 3
                td 1
                td 2
                td 3
                td 1
                td 0
                td 26
              tr
                td player1
                td 1.47
                td 26
                td 8
                td.text-danger 14
                td 
                  span.text-success +
                  | 12
                td 1.00
                td 102.3
                td 1.86
                td 9
                td 34.4
                td 3
                td 1
                td 2
                td 3
                td 1
                td 0
                td 26
              tr
                td player1
                td 1.47
                td 26
                td 8
                td.text-danger 14
                td 
                  span.text-success +
                  | 12
                td 1.00
                td 102.3
                td 1.86
                td 9
                td 34.4
                td 3
                td 1
                td 2
                td 3
                td 1
                td 0
                td 26