extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt pro 3';

block content
  .container.container__prompt
    form(action="")
      .prompt-selections__min-wr
        .row.row-min.prompt_selection
          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              span.time-subscription 1
              .prompt-selection__info
                .prompt-selection__time-label MONTH
                .prompt-selection__price
                  | $7
                  span /mo
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="1")
          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              span.time-subscription 3
              .prompt-selection__info
                .prompt-selection__time-label MONTH
                .prompt-selection__price
                  | $6
                  span /mo
              .prompt-selection__discount -14%
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="2")
          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              span.time-subscription 6
              .prompt-selection__info
                .prompt-selection__time-label MONTH
                .prompt-selection__price
                  | $5
                  span /mo
              .prompt-selection__discount -28%
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="3")
          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              span.time-subscription 1
              .prompt-selection__info
                .prompt-selection__time-label YEAR
                .prompt-selection__price
                  | $4
                  span /mo
              .prompt-selection__discount -42%
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="4")

      .prompt__btn-group
        a(href="prompt-1.html").btn.btn-default.btn-lg.modal-btn-danger-hover.modal-btn go back
        a(href="prompt-pro-2-card.html").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn confirm
