extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt free';

block content
  .container.container__prompt
    .prompt-selections__wr
      .row.row-min
        .col-xs-6
          a(href="prompt-free.html").prompt-selection
            h1.prompt__big-title.prompt-selection__titel free
            h2.prompt-selection__logo-min
              img(src="img/dvsionfree.png", alt="")
            ul.list-of-services.list-of-services__free
              li forum access
              li personal profile
        .col-xs-6
          a(href="prompt-pro-1.html").prompt-selection
            h1.prompt__big-title.prompt-selection__titel.text-primary
              | $7
              span /month
            h2.prompt-selection__logo-min
              img(src="img/dvsionpro.png", alt="")
            ul.list-of-services
              li.pro-item team creation
              li.pro-item pug system
              li.pro-item personal stat tracking and achievements
              li.pro-item chance to win prizes and cash
              li forum access
              li personal profile
