extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt free';

block content
  .container.container__prompt
    h1.prompt__big-title you sure?
    h2.prompt__logo-min
      img(src="img/dvsionfree.png", alt="")
    .prompt__min-text
      p You must have some strong will power :)

    .prompt__btn-group
      a(href="prompt-1.html").btn.btn-default.btn-lg.modal-btn-danger-hover.modal-btn go back
      a(href="prompt-pro-3.html").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn confirm