extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt pro 3';

block content
  .container.container__prompt
    h1.prompt__big-title the bills
    form(action="").bills-form.form-horizontal
      .row.bills-form__form-wr
        .form-group-margin
          .form-group-sm.form-group__d-tb
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="FIRST NAME ON CARD")
          .form-group-sm.form-group__d-tb
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="LAST NAME ON CARD")
          .row.form-group-sm.form-group-inputs
            label.control-label.col-xs-5 TYPE
            .col-xs-7
              .row.form-group__d-tb
                .col-xs-12.custom-select__wr
                  select.custom-select.form-control
                    option(value="")
                    option(value="")
          .form-group-sm.form-group__d-tb
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="CARD NUMBER")

          .row.form-group-sm.form-group-inputs
            label.control-label.col-xs-5 EXP DATE
            .col-xs-7
              .row.form-group__d-tb
                .col-xs-6.custom-select__wr
                  select.custom-select.form-control
                    option(value="") 00
                    option(value="") 01
                .col-xs-6
                  select.custom-select.form-control
                    option(value="") 00
                    option(value="") 01
          .row.form-group-sm.form-group-inputs
            label.control-label.col-xs-5 SECURITY CODE
            .col-xs-7
              .row.form-group__d-tb
                .col-xs-6.col-xs-offset-6
                  input.form-control(type='text', aria-describedby='', placeholder="0000")

        .form-group-margin
          .form-group-sm.form-group__d-tb.has-success.has-feedback
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="ADDRESS ONE")
            span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
          .form-group-sm.form-group__d-tb.has-success.has-feedback
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="ADDRESS TWO")
            span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
          .form-group-sm.row.form-group-inputs
            label.control-label.col-xs-5 STATE/ZIP
            .col-xs-7
              .row.form-group__d-tb
                .col-xs-6.custom-select__wr
                  select.custom-select.form-control
                    option(value="")
                    option(value="") test
                .col-xs-6
                  input.form-control(type='text', aria-describedby='', placeholder="")

      .prompt__btn-group
        a(href="prompt-pro-2-card.html").btn.btn-default.btn-lg.modal-btn-danger-hover.modal-btn go back
        a(href="prompt-pro-3.html").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn confirm
        //- button(type="submit").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn confirm
