extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt pro 3';

block content
  .container.container__prompt
    h1.prompt__big-title congrats!
    .prompt__min-text
      p Its official. You are now awesome!

    .prompt__btn-group
        a(href="").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn start up