extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt pro 3';

block content
  .container.container__prompt
    form(action="")
      .prompt-selections__min-wr
        h2.prompt-selection__logo-min
          img(src="img/dvsionpro.png", alt="")
        .row.row-min.prompt_selection
          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              .prompt-selection__info
                .prompt__cart-title paypal
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="1")

          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              .prompt-selection__info
                .prompt__cart-title amazon
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="2")

          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              .prompt-selection__info
                .prompt__cart-title google
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="3")

          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              .prompt-selection__info
                .prompt__cart-title credit card
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="4")


      .prompt__btn-group
        a(href="prompt-pro-1.html").btn.btn-default.btn-lg.modal-btn-danger-hover.modal-btn go back
        a(href="prompt-pro-2.html").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn confirm
