extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content
  .container
    .inner-page.our-team
      .row.our-block
        .col-xs-4
          .our-title our team
        .col-xs-8
          .our-text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed tristique orci. Phasellus ut eleifend risus. Aliquam orci enim, commodo eget odio ac, aliquet fringilla eros. Nam urna nisi, venenatis eget mattis sit amet, pharetra sit amet felis. Donec cursus egestas ipsum, hendrerit vehicula orci dignissim ac. Cras at sagittis augue. Praesent porta efficitur velit, nec malesuada urna pharetra in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque vehicula porta lacinia. Suspendisse eget ligula eu risus semper pulvinar. Praesent sit amet feugiat lorem. Nullam non lorem vitae libero rutrum tincidunt ut non ante. lorem lobortis tellus, et ullamcorper augue odio id neque. Vestibulum ut magna vitae erat volutpat lobortis id nec dolor. Vestibulum vel lectus purus.
      .team-member__list
        .row.team-member__item
          .col-xs-3
            .team-member__img
              img(src="img/Photo-1.jpg", alt="").img-responsive.img-circle
          .col-xs-6
            .team-member__info
              h1.team-member__name aaron sims
              .team-member__job ceo/co-founder
              .team-member__description
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed tristique orci. Phasellus ut eleifend risus. Aliquam orci enim, commodo eget odio ac, aliquet fringilla eros. Nam urna nisi, venenatis eget mattis sit amet, pharetra sit amet felis. Donec cursus egestas ipsum, hendrerit vehicula orci dignissim ac. Cras at sagittis augue. Praesent porta efficitur velit, nec malesuada urna pharetra in.
              ul.team-member__soc-list
                li: a(href="")
                  i.fa.fa-comment.soc-icon
                li: a(href="")
                  i.fa.fa-twitter.soc-icon
                li: a(href="")
                  i.fa.fa-facebook.soc-icon
        .row.team-member__item
          .col-xs-3
            .team-member__img
              img(src="img/Photo-2.jpg", alt="").img-responsive.img-circle
          .col-xs-6
            .team-member__info
              h1.team-member__name Colte Barnhill
              .team-member__job cfo/co-founder
              .team-member__description
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed tristique orci. Phasellus ut eleifend risus. Aliquam orci enim, commodo eget odio ac, aliquet fringilla eros. Nam urna nisi, venenatis eget mattis sit amet, pharetra sit amet felis. Donec cursus egestas ipsum, hendrerit vehicula orci dignissim ac. Cras at sagittis augue. Praesent porta efficitur velit, nec malesuada urna pharetra in.
              ul.team-member__soc-list
                li: a(href="")
                  i.fa.fa-comment.soc-icon
                li: a(href="")
                  i.fa.fa-twitter.soc-icon
                li: a(href="")
                  i.fa.fa-facebook.soc-icon
        .row.team-member__item
          .col-xs-3
            .team-member__img
              img(src="img/Photo-1.jpg", alt="").img-responsive.img-circle
          .col-xs-6
            .team-member__info
              h1.team-member__name Colte Barnhill
              .team-member__job cfo/co-founder
              .team-member__description
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed tristique orci. Phasellus ut eleifend risus. Aliquam orci enim, commodo eget odio ac, aliquet fringilla eros. Nam urna nisi, venenatis eget mattis sit amet, pharetra sit amet felis. Donec cursus egestas ipsum, hendrerit vehicula orci dignissim ac. Cras at sagittis augue. Praesent porta efficitur velit, nec malesuada urna pharetra in.
              ul.team-member__soc-list
                li: a(href="")
                  i.fa.fa-comment.soc-icon
                li: a(href="")
                  i.fa.fa-twitter.soc-icon
                li: a(href="")
                  i.fa.fa-facebook.soc-icon
      .our-block
        .our-title our developers
        ul.developers__list
          li.developers__list-item
            img(src="img/Photo-1.jpg", alt="").img-responsive.img-circle
          li.developers__list-item
            img(src="img/Photo-2.jpg", alt="").img-responsive.img-circle
          li.developers__list-item
            img(src="img/Photo-1.jpg", alt="").img-responsive.img-circle
          li.developers__list-item
            img(src="img/Photo-2.jpg", alt="").img-responsive.img-circle
          li.developers__list-item
            img(src="img/Photo-1.jpg", alt="").img-responsive.img-circle
          li.developers__list-item
            img(src="img/Photo-2.jpg", alt="").img-responsive.img-circle
          li.developers__list-item
            img(src="img/Photo-1.jpg", alt="").img-responsive.img-circle
