extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content
  .container
    .inner-page
      .row.row-min.user-info__wr
        .col-xs-6
          .min-block.clearfix
            .team-block__left-section
              .tab-wr.min-block-center-info
                .tab-content.tab-content__team
                  .team-logo
                    img(src="img/team_LOGO.png", alt="")
                  .team-info
                    .team-title cloud 9 gg
                    .team-tag tag: c9
                    .team-dvsion
                      span 3rd 
                      | dvsion 1
                    .team-bill
                      | 12 
                      span - 
                      | 5
                  .min-block__soc-section.min-block__soc-section_in-teb
                    ul
                      li: a(href="")
                        //- i.soc-icon.sprite-facebook-g
                        i.soc-icon.fa.fa-facebook
                      li: a(href="")
                        //- i.soc-icon.sprite-twitter-g
                        i.soc-icon.fa.fa-twitter
                      li: a(href="")
                        //- i.soc-icon.sprite-globe
                        i.soc-icon.fa.fa-globe

          .min-block.clearfix
            .tab-wr
              ul.tab-nav_left
                li
                  a(href='') complete stats
                li(role='presentation')
                  a(href='') team history
                li(role='presentation')
                  a(href='') user config
              .tab-content_right
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc. Pellentesque non massa non felis tincidunt consectetur in id massa. Donec feugiat mi sed porta consectetur. Etiam at gravida velit.
          .team-matches
            .team-match
              .team-match__inner
                .team-match__lb.team-match__lb_default
                  span Th

              .team-match__inner
                .team-match__info
                  .team-match__info-time-wr
                    .team-match__info-date 02.02.15
                    .team-match__info-time 9:00PM EST
                  .team-match__match-status
                    span.status__vs vs
                  .team-match__map-title DE_INFERNO

              .team-match__inner
                a(href="match-page.html").team-match__logo-wr
                  img(src="img/Fnatic_Logo.png", alt="")
                  .team-match__logo-title fnatic

              .team-match__inner.team-match__score-wr
                .team-match__score-of-the-name preview
            .team-match
              .team-match__inner
                .team-match__lb.team-match__lb_success
                  span W

              .team-match__inner
                .team-match__info
                  .team-match__info-time-wr
                    .team-match__info-date 02.02.15
                    .team-match__info-time 11:00PM EST
                  .team-match__match-status
                    span final
                  .team-match__map-title DE_INFERNO

              .team-match__inner
                a(href="match-page.html").team-match__logo-wr
                  img(src="img/300px-Clg_logo.png", alt="")
                  .team-match__logo-title counter logic

              .team-match__inner.team-match__score-wr
                .team-match__score-of-the-name.score-number 16 - 14
            .team-match
              .team-match__inner
                .team-match__lb.team-match__lb_danger
                  span L

              .team-match__inner
                .team-match__info
                  .team-match__info-time-wr
                    .team-match__info-date 02.02.15
                    .team-match__info-time 7:00PM EST
                  .team-match__match-status
                    span final
                  .team-match__map-title DE_INFERNO

              .team-match__inner
                a(href="match-page.html").team-match__logo-wr
                  img(src="img/300px-Liquidlogobig.png", alt="")
                  .team-match__logo-title team liquid

              .team-match__inner.team-match__score-wr
                .team-match__score-of-the-name.score-number 16 - 14

            a(href="").complete-results complete schedule & results >


        .col-xs-6
          .min-block.clearfix
            .team-photos__wr
              .tab-content.tab-content__team-photos
                #tab1.tab-pane.active.fade.in(role='tabpanel')
                  .players-list
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/cap.jpg", alt="")
                        .player-c c
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-1.jpg", alt="")
                        .player-c a
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-2.jpg", alt="")
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-3.jpg", alt="")
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-4.jpg", alt="")
                #tab2.tab-pane.fade(role='tabpanel')
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-4.jpg", alt="")
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-2.jpg", alt="")
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-3.jpg", alt="")
                #tab3.tab-pane.fade(role='tabpanel')
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/cap.jpg", alt="")
                        .player-c c
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-1.jpg", alt="")
                        .player-c a
              // Nav tabs
              ul.team-photos__nav(role='tablist')
                li.active(role='presentation')
                  a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') starters
                li(role='presentation')
                  a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') reserves
                li(role='presentation')
                  a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') coaches
              // Tab panes



          .min-block.clearfix
            .sponsors-list
              .sponsors-list__item
                a(href="")
                  img(src="img/logitech.png", alt="")
              .sponsors-list__item
                a(href="")
                  img(src="img/hyperX.png", alt="")
              .sponsors-list__item
                a(href="")
                  img(src="img/g2a.png", alt="")

          .team-stattistic__wr.clearfix
            .team-stattistic__min-block
              img(src="img/stat-1.png", alt="")
            .team-stattistic__min-block
              img(src="img/stat-1.png", alt="")
            .team-stattistic__min-block
              img(src="img/stat-1.png", alt="")
          .team-graph
            img(src="img/team_GRAPH-min.png", alt="")