extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content
  .container
    .inner-page
      .row.row-min.user-info__wr
        .col-xs-6
          .min-block.clearfix
            .min-block__left-section
              .user-thumbnail
                img(src="img/user-img.jpg", alt="")
                .square-min-btn__group.user-profile__btn-group
                  .square-min-btn.square-min-btn_primary
                    span.glyphicon.glyphicon-remove
                  .square-min-btn.square-min-btn_success
                    span.glyphicon.glyphicon-ok
            .min-block__main-section.min-block-center-info
              .profile__user-info
                .profile__user-nick n0thing
                  span.user-status.user-status__pro pro
                .profile__user-name JORDAN GILBERT
                .profile__user-address 23 MALE  SAN DIEGO
                .user-karma__wr
                  .user-karma
                    span.user-karma__mark +
                    | 1435 
                    span.user-karma__unit K
                  .user-karma__btn-group
                    span.user-karma__btn.user-karma__btn-plus +
                    span.user-karma__btn.user-karma__btn-minus -

            .min-block__soc-section
              ul
                li: a(href="")
                  //- i.soc-icon.sprite-facebook-g
                  i.soc-icon.fa.fa-facebook
                li: a(href="")
                  //- i.soc-icon.sprite-twitter-g
                  i.soc-icon.fa.fa-twitter
                li: a(href="")
                  //- i.soc-icon.sprite-comment
                  i.soc-icon.fa.fa-comment
          .min-block.clearfix
            .tab-wr
              ul.tab-nav_left
                li
                  a(href='', data-toggle="modal", data-target=".pm-modal") complete stats
                li(role='presentation')
                  a(href='') team history
                li(role='presentation')
                  a(href='') user config
              .tab-content_right
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc. Pellentesque non massa non felis tincidunt consectetur in id massa. Donec feugiat mi sed porta consectetur. Etiam at gravida velit.
        .col-xs-6
          .min-block.clearfix
            .clearfix
              .user-awards.pull-left
                span.user-avard
                  img(src="img/award1-empty.png", alt="")
                span.user-avard
                  img(src="img/award2.png", alt="")
                span.user-avard
                  img(src="img/award3.png", alt="")
              .user-awards__title__wr
                .user-awards__title
                  | ENTRY
                  span /
                  | RIFLER
                .user-awards__title_bottom
                  | CENTRAL
          .min-block.clearfix
            .team-block__left-section
              .tab-wr.min-block-center-info
                // Nav tabs
                ul.team-nav(role='tablist')
                  li.active(role='presentation')
                    a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') league team
                  li(role='presentation')
                    a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') scrim team #1
                  li(role='presentation')
                    a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') scrim team #2
                  li(role='presentation')
                    a(href='#tab4', aria-controls='tab4', role='tab', data-toggle='tab') scrim team #3
                // Tab panes
                .tab-content.tab-content__team
                  #tab1.tab-pane.active.fade.in(role='tabpanel')
                    .team-logo
                      a(href="team-page.html")
                        img(src="img/team_LOGO.png", alt="")
                    .team-info
                      .team-title cloud 9 gg
                      .team-tag tag: c9
                      .team-dvsion
                        span 3rd 
                        | dvsion 1
                      .team-bill
                        | 12 
                        span - 
                        | 5
                    .min-block__soc-section.min-block__soc-section_in-teb
                      ul
                        li: a(href="")
                          //- i.soc-icon.sprite-facebook-g
                          i.soc-icon.fa.fa-facebook
                        li: a(href="")
                          //- i.soc-icon.sprite-twitter-g
                          i.soc-icon.fa.fa-twitter
                        li: a(href="")
                          //- i.soc-icon.sprite-globe
                          i.soc-icon.fa.fa-globe
                  #tab2.tab-pane.fade(role='tabpanel')
                    .team-logo
                      a(href="team-page.html")
                        img(src="img/team_LOGO.png", alt="")
                    .team-info
                      .team-title cloud 13 gg
                      .team-tag tag: c11
                      .team-dvsion
                        span 2rd 
                        | dvsion 1
                      .team-bill
                        | 6 
                        span - 
                        | 8
                    .min-block__soc-section.min-block__soc-section_in-teb
                      ul
                        li: a(href="")
                          //- i.soc-icon.sprite-facebook-g
                          i.soc-icon.fa.fa-facebook
                        li: a(href="")
                          //- i.soc-icon.sprite-twitter-g
                          i.soc-icon.fa.fa-twitter
                        li: a(href="")
                          //- i.soc-icon.sprite-globe
                          i.soc-icon.fa.fa-globe
                  #tab3.tab-pane.fade(role='tabpanel')
                    .team-logo
                      a(href="team-page.html")
                        img(src="img/team_LOGO.png", alt="")
                    .team-info
                      .team-title cloud 9 gg
                      .team-tag tag: c9
                      .team-dvsion
                        span 1rd 
                        | dvsion 1
                      .team-bill
                        | 8 
                        span - 
                        | 5
                    .min-block__soc-section.min-block__soc-section_in-teb
                      ul
                        li: a(href="")
                          //- i.soc-icon.sprite-facebook-g
                          i.soc-icon.fa.fa-facebook
                        li: a(href="")
                          //- i.soc-icon.sprite-twitter-g
                          i.soc-icon.fa.fa-twitter
                        li: a(href="")
                          //- i.soc-icon.sprite-globe
                          i.soc-icon.fa.fa-globe
                  #tab4.tab-pane.fade(role='tabpanel')
                    .team-logo
                      a(href="team-page.html")
                        img(src="img/team_LOGO.png", alt="")
                    .team-info
                      .team-title cloud 9 gg
                      .team-tag tag: c9
                      .team-dvsion
                        span 3rd 
                        | dvsion 1
                      .team-bill
                        | 2 
                        span - 
                        | 5
                    .min-block__soc-section.min-block__soc-section_in-teb
                      ul
                        li: a(href="")
                          //- i.soc-icon.sprite-facebook-g
                          i.soc-icon.fa.fa-facebook
                        li: a(href="")
                          //- i.soc-icon.sprite-twitter-g
                          i.soc-icon.fa.fa-twitter
                        li: a(href="")
                          //- i.soc-icon.sprite-globe
                          i.soc-icon.fa.fa-globe
      .user-stattistic__wr.clearfix
        //- .user-stattistic__min-block
        //-   .progress-pie-chart(data-percent='80')
        //-     .ppc-progress
        //-       .ppc-progress-fill
        //-     .ppc-percents
        //-       .pcc-percents-wrapper
        //-         span 1.36
        //-           span.pcc-title RATING
        .user-stattistic__min-block
          img(src="img/stat-1.png", alt="")
        .user-stattistic__min-block
          img(src="img/stat-1.png", alt="")
        .user-stattistic__min-block
          img(src="img/stat-1.png", alt="")
        .user-stattistic__min-block
          img(src="img/stat-1.png", alt="")
      .user-graph
        img(src="img/user_GRAPH.png", alt="")
  .modal.fade.pm-modal(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
      .modal-content.modal-content_other
        .modal-header
          h4.modla-subject subject
        .modal-body
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum
            | maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros.
            | Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc.
            | Pellentesque non massa non felis tincidunt consectetur in id massa. Donec feugiat mi sed porta consectetur. Etiam at gravida
            | velit.

        .modal-footer
          button.btn.btn-default.btn-lg.pull-left.btn-success.modal-btn(type='button') send
          button.btn.btn-default.btn-lg.pull-right.btn-danger.modal-btn(type='button', data-dismiss='modal', aria-label='Close') close
