extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content

  .min-section__wr#top
    .userbackend-contaier
      .userbackend__main-nav-container
        .userbackend__main-nav_wr.js__nav_fixed
          .container
            ul.userbackend__main-nav-list
              li.userbackend__main-nav-item
                a(href="").userbackend__main-nav-link manage profile
              li.userbackend__main-nav-item
                a(href="").userbackend__main-nav-link account and payment
              li.userbackend__main-nav-item
                a(href="").userbackend__main-nav-link personal statistics
              li.userbackend__main-nav-item
                a(href="").userbackend__main-nav-link team management
              li.userbackend__main-nav-item.active
                a(href="").userbackend__main-nav-link.userbackend__main-nav-link_with-counter private messages
                  span.userbackend__main-nav-counter 92
    .container
      .row-pc-min
        .col-pc-20.vertical-menu__wr
          ul.vertical-menu__list
            li.vertical-menu__list-item.active
              a(href='', data-toggle="modal", data-target=".new-message-modal").vertical-menu__list-link compose message
            li.vertical-menu__list-item
              a(href="").vertical-menu__list-link send
            li.vertical-menu__list-item
              a(href="").vertical-menu__list-link inbox
            li.vertical-menu__list-item
              a(href="").vertical-menu__list-link trash
                i.icon.fa.fa-trash
        .col-pc-80.right-content
          .massages-filter__wr
            .messages__check-wr
              input(type="checkbox")
            .dropdown.messages__dropdown
              a(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').dropdown__messages-btn
                | sort messages by
                span.caret
              ul.dropdown-menu(aria-labelledby='dLabel').dropdown__messages-menu
                li
                 a(href="") 1
                li
                 a(href="") 2
                li
                 a(href="") 3
          .messages__wr
            .messages__list
              .messages__list-item.not-viewed
                header.messages__header
                  .message__header_left-nav
                    .messages__check-wr
                      input(type="checkbox")
                    .messages__status-wr
                      span.messages__status
                    .message__subject Fix the Schedule! Sorry about that.
                  .message__autor_right
                    .message__author
                      .message__author-photo
                        img(src="img/autor-photo.jpg", alt="").img-responsive
                      .message__author-name
                        .vertical-center
                          | Jane 
                          span.other-color DuhB0mb 
                          | Doe
                          .message__posted 12mins ago
                .messages__body
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc...
                footer.messages__footer
                  .messages__footer-nav
                    .messages__footer-nav-item
                      a(href='', data-toggle="modal", data-target=".conversation-modal").messages__footer-nav-link respond
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link forward
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link delete

              .messages__list-item.not-viewed
                header.messages__header
                  .message__header_left-nav
                    .messages__check-wr
                      input(type="checkbox")
                    .messages__status-wr
                      span.messages__status
                    .message__subject Fix the Schedule! Sorry about that.
                  .message__autor_right
                    .message__author
                      .message__author-photo
                        img(src="img/autor-photo-2.jpg", alt="").img-responsive
                      .message__author-name
                        .vertical-center
                          | Tina 
                          span.other-color HeyHey 
                          | Rae
                          .message__posted 12mins ago
                .messages__body
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed?
                footer.messages__footer
                  .messages__footer-nav
                    .messages__footer-nav-item
                      a(href='', data-toggle="modal", data-target=".conversation-modal").messages__footer-nav-link respond
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link forward
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link delete

              .messages__list-item.not-viewed
                header.messages__header
                  .message__header_left-nav
                    .messages__check-wr
                      input(type="checkbox")
                    .messages__status-wr
                      span.messages__status
                    .message__subject Fix the Schedule! Sorry about that.
                  .message__autor_right
                    .message__author
                      .message__author-photo
                        img(src="img/autor-photo.jpg", alt="").img-responsive
                      .message__author-name
                        .vertical-center
                          | Jane 
                          span.other-color DuhB0mb 
                          | Doe
                          .message__posted 12mins ago
                .messages__body
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc...
                footer.messages__footer
                  .messages__footer-nav
                    .messages__footer-nav-item
                      a(href='', data-toggle="modal", data-target=".conversation-modal").messages__footer-nav-link respond
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link forward
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link delete

              .messages__list-item.not-viewed
                header.messages__header
                  .message__header_left-nav
                    .messages__check-wr
                      input(type="checkbox")
                    .messages__status-wr
                      span.messages__status
                    .message__subject Fix the Schedule! Sorry about that.
                  .message__autor_right
                    .message__author
                      .message__author-photo
                        img(src="img/autor-photo-2.jpg", alt="").img-responsive
                      .message__author-name
                        .vertical-center
                          | Tina 
                          span.other-color HeyHey 
                          | Rae
                          .message__posted 12mins ago
                .messages__body
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed?
                footer.messages__footer
                  .messages__footer-nav
                    .messages__footer-nav-item
                      a(href='', data-toggle="modal", data-target=".conversation-modal").messages__footer-nav-link respond
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link forward
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link delete

              .messages__list-item.not-viewed
                header.messages__header
                  .message__header_left-nav
                    .messages__check-wr
                      input(type="checkbox")
                    .messages__status-wr
                      span.messages__status
                    .message__subject Fix the Schedule! Sorry about that.
                  .message__autor_right
                    .message__author
                      .message__author-photo
                        img(src="img/autor-photo.jpg", alt="").img-responsive
                      .message__author-name
                        .vertical-center
                          | Jane 
                          span.other-color DuhB0mb 
                          | Doe
                          .message__posted 12mins ago
                .messages__body
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc...
                footer.messages__footer
                  .messages__footer-nav
                    .messages__footer-nav-item
                      a(href='', data-toggle="modal", data-target=".conversation-modal").messages__footer-nav-link respond
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link forward
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link delete

              .messages__list-item
                header.messages__header
                  .message__header_left-nav
                    .messages__check-wr
                      input(type="checkbox")
                    .messages__status-wr
                      span.messages__status
                    .message__subject Fix the Schedule! Sorry about that.
                  .message__autor_right
                    .message__author
                      .message__author-photo
                        img(src="img/autor-photo-2.jpg", alt="").img-responsive
                      .message__author-name
                        .vertical-center
                          | Tina 
                          span.other-color HeyHey 
                          | Rae
                          .message__posted 12mins ago
                .messages__body
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed?
                footer.messages__footer
                  .messages__footer-nav
                    .messages__footer-nav-item
                      a(href='', data-toggle="modal", data-target=".conversation-modal").messages__footer-nav-link respond
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link forward
                    .messages__footer-nav-item
                      a(href="").messages__footer-nav-link delete

  .modal.fade.new-message-modal(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
      .modal-content.modal-content_message
        form(id="", method="", action="")
          .modal-header
            .message-to__wr
              input(type="text", placeholder="to:").form-control.input-lg
            .message-subject__wr
              input(type="text", placeholder="subject").form-control.input-lg

          .modal-body
            textarea.form-control.message-form-control(row="5") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc. Pellentesque non massa non felis tincidunt
          .modal-footer.modal-footer_full-width
            button(type='button').btn.btn-default.btn-lg.btn-success.modal-btn send
            button(type='button', data-dismiss='modal', aria-label='Close').btn.btn-default.btn-lg.btn-danger.modal-btn close

  .modal.fade.conversation-modal(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
      .modal-content.modal-content_message
        form(id="", method="", action="")
          .modal-header
            .message-to__wr
              .message__author
                .message__author-photo.message__author-photo_left
                  img(src="img/autor-photo-2.jpg", alt="").img-responsive
                .message__author-name.message__author-name_left
                  .vertical-center
                    | Tina 
                    span.other-color HeyHey 
                    | Rae
            .message-subject__wr
              .message__subject.message__subject_modal Fix the Schedule! Sorry about that.
          .modal-body
            .modal__messages-list
              .modal__messages-list-item
                time.modal__messages-list-item-post-time
                  span.post-time__date 9/14/15
                  span.post-time__hour 4:35pm
                .modal__messages-list-item-text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc. Pellentesque non massa non felis tincidunt.

              .modal__messages-list-item.modal__messages-list-item_right
                time.modal__messages-list-item-post-time
                  span.post-time__date 9/14/15
                  span.post-time__hour 4:35pm
                .modal__messages-list-item-text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. 

              .modal__messages-list-item
                time.modal__messages-list-item-post-time
                  span.post-time__date 9/14/15
                  span.post-time__hour 4:35pm
                .modal__messages-list-item-text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc. Pellentesque non massa non felis tincidunt.

              .modal__messages-list-item.modal__messages-list-item_right
                time.modal__messages-list-item-post-time
                  span.post-time__date 9/14/15
                  span.post-time__hour 4:35pm
                .modal__messages-list-item-text
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. 

            textarea.form-control.message-form-control.conversation-textarea(row="3", placeholder="Type what you want to say...")
          .modal-footer.modal-footer_full-width.messages__footer
            .messages__footer-nav
              .messages__footer-nav-item
                button(type='button').messages__footer-nav-link send
              .messages__footer-nav-item
                a(href="").messages__footer-nav-link forward
              .messages__footer-nav-item
                a(href="", data-dismiss='modal', aria-label='Close').messages__footer-nav-link close
