.article {
    background-color: #f4f4f4;
}

.article__header {
    padding: 25px 25px 95px;
}

.header_top-line.header_top-line-min {
    &:after {
        width: 320px;
    }
    &:before {
        right: 320px;
    }
}

.article__tag {
    color: #939393;
    font-size: 14px;
    font-weight: 900;
}

.article__public-time {
    display: block;
    text-align: right;
    color: #939393;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.article__title {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: $brand-primary;
    margin-bottom: 10px;
}

.article__title-min {
    font-size: 18px;
    font-weight: 700;
}

.article__nav {
    border-bottom: 2px solid #e3e5e5;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.article__nav-container {
    background: #f4f4f4;
    margin: 0 auto;
    width: 1520px;
    height: 71px;
}
@media (min-width: 1550px) {
    .menu-fix {
        bottom: inherit;
        position: fixed;
        top: 70px;
    }
}

.article__nav_left {
    border-top: 1px solid #e3e5e5;
    border-right: 1px solid #e3e5e5;
    width: 380px;
    float: left;
}

.article__nav_right {
    border-top: 1px solid #e3e5e5;
    border-left: 1px solid #e3e5e5;
    height: 70px;
    width: 380px;
    float: right;
    position: relative;
    padding-right: 70px;
    color: #939393;
    text-decoration: none;
    &:hover {
        color: $brand-primary;
    }
}

.article__author-photo {
    float: left;
    margin-right: 55px;
}

.article__author-name {
    padding: 5px 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    color: #939393;
    line-height: 60px;
    .other-color {
        color: $brand-primary;
    }
    .article__author-position {
        font-size: 14px;
        font-weight: 300;
    }
}

.vertical-center {
    vertical-align: middle;
    line-height: initial;
    display: inline-block;
}

.article__read-more-wr {
    font-size: 14px;
    font-weight: 900;
    line-height: 25px;
    line-height: 70px;
    text-transform: uppercase;
    a {
        color: #939393;
        text-decoration: none;
        &:hover {
            color: $brand-primary;
        }
    }
}

.vertical-center__wr {
    line-height: 60px;
}

.article__next-arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    text-align: center;
    line-height: 70px;
    height: 70px;
    border-left: 1px solid #e3e5e5;
}

.article__next-title-group {
    padding: 5px 45px;
    text-align: right;
}

.article__next-title {
    font-size: 14px;
    font-weight: 900;
    line-height: 1.2em;
    text-transform: uppercase;
}

.article__next-title-min {
    color: #939393;
    font-size: 14px;
    font-weight: 300;
}

.article__nav_center {
    text-align: center;
    height: 70px;
    overflow: hidden;
}

.article-body {
    position: relative;
}

.article-aside {
    float: right;
    width: 500px;
    &:after {
        content: '';
        position: absolute;
        right: 501px;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #e3e5e5;
    }
}

.article-aside__min-section {
    height: 121px;
    border-bottom: 1px solid #e3e5e5;
    display: block;
}

a.article-aside__min-section {
    &:hover {
        .article-aside__min-section-title-big {
            color: $brand-primary;
        }
    }
}

.article-aside__min-section-photo {
    float: left;
}

.article-aside__min-section-title-wr {
    line-height: 111px;
    overflow: hidden;
}

.article-aside__min-section-title {
    line-height: initial;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 40px;
}

.article-aside__min-section-title-big {
    color: #939393;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.article-aside__min-section-title-min {
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 300;
}

.article-aside__link-more {
    font-size: 18px;
    font-weight: 900;
    color: $brand-primary;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 45px 45px 5px;
}

.article-content {
    overflow: hidden;
    padding: 45px 100px 70px 135px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    p {
        margin-bottom: 25px;
    }
    a {
        text-decoration: underline;
    }
    img {
        margin-left: -135px;
        margin-bottom: 25px;
        height: auto;
    }
    table {
        width: 100%;
        border: 1px solid #e3e5e5;
        margin-bottom: 25px;
        color: #939393;
        font-size: 14px;
        font-weight: 900;
        line-height: 17px;
        td {
            padding: 20px;
            border: 1px solid #e3e5e5;
        }
    }
    .table-title {
        color: #939393;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        margin-bottom: 5px;
        span {
            margin-left: 40px;
            display: inline-block;
        }
    }
}
