.footer__top {
    background-color: #a2a2a2;
    position: relative;
    min-height: 280px;
}

.footer__logo-wr {
    padding: 40px 50px;
    float: left;
    width: 280px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 280px;
        border-right: 1px solid #B4B4B4;
    }
}

.footer__main-nav-wr {
    float: left;
    width: 1170px;
    padding: 40px 20px 40px 70px;
}

.footer__main-nav {
    float: left;
    width: 200px;
    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            color: #F4F4F4;
            font-size: 15px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
}

.footer__other-links-wr {
    margin-left: 20px;
    width: 860px;
    float: left;
}

.footer-links-menu__title {
    color: #F4F4F4;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #B4B4B4;
    padding-bottom: 20px;
    margin: 0 0 20px;
}

.footer-links-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        margin-bottom: 15px;
        color: #F4F4F4;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
    }
    a {
        color: #F4F4F4;
        &:hover {
            // color: $brand-primary;
            // text-decoration: none;
        }
    }
}

.footer-soc-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
    }
    li {
        height: 25%;
        &:nth-child(odd) {
            a {
                background-color: #b4b4b4;
            }
        }
        a {
            display: block;
            height: 100%;
            background-color: #aeaeae;
            padding: 20px;
            text-align: center;
            vertical-align: middle;
            @include transition(all .2s linear);
            color: #fff;
            font-size: 25px;
            .soc-icon {
                @include transition(all .2s linear);
            }
            &:hover {
                background-color: $brand-danger;
                .soc-icon {
                    @include transform(rotate(360deg));
                }
            }
        }
    }
}

.copyright-block {
    font-size: 14px;
    color: #4B4B4B;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.footer__bottom {
    padding: 25px 30px;
}

.copyright-block__main-text {
    color: #C64628;
    font-weight: 900;
}

.footer-bottom__list-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    li {
        display: inline-block;
        ~ li {
            border-left: 1px solid $gray;
            padding-left: 10px;
            margin-left: 10px;
        }
    }
    a {
        line-height: 1em;
        color: $gray;
        font-size: 14px;
        font-weight: 300;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}
