//##################
// header
//##################
.main-header {
    position: relative;
    z-index: 10;
    background-color: $brand-primary;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

@media (min-width: 1550px) {
    .main-header {
        position: fixed;
    }
}

.header__container-inner {
    height: 70px;
    overflow: hidden;
}


.main-header__inner {
    position: relative;
    &:after {
        z-index: 1;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: $gray-dark;
        width: 30%;
    }
    .container {
        position: relative;
    }
}

.header__left-menu-wr {
    position: relative;
    z-index: 2;
}

.logo__wr {
    margin: 0;
    padding: 22px 0 23px 93px;
    background-color: $gray;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-width: 35px;
        border-style: solid;
        border-color: $gray transparent transparent $gray;
    }
}

.btn-menu {
    cursor: pointer;
    padding: 25px 20px 24px 20px;
    width: 70px;
    position: relative;
    z-index: 3;
    background: $gray-dark;
}

.navicon-line {
    height: 2px;
    background: #fff;
    margin-bottom: 5px;
    @include transition(all .2s linear);
    &.navicon-line_top {
        position: relative;
        bottom: 0;
        opacity: (1);
    }
}

.sb-active {
    .navicon-line_hedden {
        opacity: (0);
    }
    .navicon-line {
        @include transform(rotate(-45deg));
        &.navicon-line_top {
            position: relative;
            bottom: -7px;
            @include transform(rotate(45deg));
        }
    }
}

.js-dd {
    display: none;
}

.main-nav {
    position: absolute;
    top: 100%;
    left: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
    z-index: 10;
    background-color: $gray-dark;
    ul {
        list-style: none;
        padding: 25px 0;
        margin: 0;
        font-size: 0;
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    li {
        display: table-cell;
        margin-left: 30px;
        text-align: center;
    }
    a {
        color: #F4F4F4;
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        @include transition(all .2s linear);
        &:hover {
            color: $brand-primary;
            text-decoration: none;
        }
    }
}

.header__login-block {
    float: left;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        li {
            display: inline-block;
            border-right: 1px solid #b23a1d;
            &:first-child {
                border-left: 1px solid #b23a1d;
            }
        }
        a {
            color: #fff;
            font-size: 12px;
            line-height: 1;
            font-weight: 400;
            display: block;
            padding: 29px 5px;
            width: 70px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.header__user-name {
    display: block;
    float: left;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    padding: 29px 15px;
    &:hover {
        color: #fff;
    }
}

.header__user-avatar {
    display: block;
    float: left;
    height: 70px;
    width: 70px;
    background: $gray-dark;
    img {
        margin: 0 auto;
    }
}

.header__search-form {
    float: left;
    background: $brand-danger;
    // &:hover {
    //     .search-form__input-group-input {
    //         width: 200px;
    //     }
    // }
}

.search-form__input-group-btn {
    float: left;
}

.search-form__input-group-input {
    width: 0;
    @include transition(all .2s linear);
    overflow: hidden;
    float: left;
    padding: 4px 0;
    background-color: $brand-danger;
    .form-control {
        background: $brand-danger;
        color: #fff;
        border-color: $brand-danger;
        // height: 34px;
        // border-top: 1px solid #b23a1d;
        outline: none;
        box-shadow: none;
        font-size: 17px;
        line-height: 20px;
        text-transform: uppercase;
        // padding-top: 0;
        // padding-bottom: 0;
        &::-webkit-input-placeholder {
            color: #fff;
        }

        &:-moz-placeholder {
            color: #fff;
        }

        &::-moz-placeholder {
            color: #fff;
        }

        &:-ms-input-placeholder {
            color: #fff;
        }
    }
}

.btn-search {
    width: 70px;
    height: 70px;
    text-align: center;
    .fa {
        font-size: 30px;
        line-height: 1;
        vertical-align: middle;
    }
}


//##################
// end header
//##################
