.post-wr {
    position: relative;
    min-height: 500px;
}

.post-caption__wr {
    position: absolute;
    bottom: 60px;
    left: 85px;
    background-color: #f4f4f4;
    width: 750px;
    min-height: 350px;
    padding: 20px 50px;
}

.post-caption__tag {
    color: $brand-primary;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.post-caption__title {
    font-size: 35px;
    font-weight: 900;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.post-caption__posted {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    color: #565656;
}

.post-caption__by {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    span {
        color: $brand-primary;
    }
}

.post-caption__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.dvsion-section__row {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.dvsion-section__min-col-3 {
    float: left;
    width: 25%;
}

.team-match__info-time-live {
    font-size: 20px;
    line-height: 1em;
    font-weight: 400;
    color: $brand-primary;
    margin-bottom: 15px;
}

.dvsion-section__min {
    background-color: #f4f4f4;
    height: 135px;
    line-height: 135px;
    border-right: 1px solid #e3e5e5;
    border-bottom: 1px solid #e3e5e5;
    &:nth-child(4n) {
        border-right: none;
    }
    &.dvsion-section__min-live {
        background: #fff;
    }
}

.team-match__inner.dvsion-match__inner {
    width: 150px;
    padding: 0;
}

.team-match__logo-wr.team-match__logo_dvsion {
    width: 70px;
}

.dvsion-score {
    font-size: 37px;
    font-weight: 900;
    width: 38%;
    display: inline-block;
    float: left;
}

.dvsion-status__vs {
    width: 20%;
    display: inline-block;
    float: left;
}

.dvsion-section__min-final {
    @include filter(grayscale(1));
    .dvsion-match__inner {
        margin-top: 35px;
    }
}

.owl-carousel-dvsion {
    counter-reset: section;
    /* Set the section counter to 0 */
    &.owl-theme .owl-controls {
        top: -65px;
        position: absolute;
        text-align: left;
        -webkit-tap-highlight-color: transparent;
    }
    &.owl-theme .owl-controls .owl-nav [class*='owl-'] {
        color: white;
        font-size: 14px;
        margin: 5px;
        padding: 4px 7px;
        // background: $brand-primary;
        background-color: #c64628;
        display: inline-block;
        cursor: pointer;
    }
    &.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
        // background: $brand-primary;
        color: white;
        text-decoration: none;
    }
    &.owl-theme .owl-controls .owl-nav .disabled {
        opacity: 0.5;
        cursor: default;
    }
    &.owl-theme .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    &.owl-theme .owl-dots .owl-dot span {
        height: 50px;
        margin: 5px 7px;
        padding: 0 10px;
        background: transparent;
        border: 2px solid #8d8d8d;
        display: block;
        position: relative;
        color: #bbbcbc;
        font-size: 24px;
        line-height: 48px;
        min-width: 46px;
        text-align: center;
        display: inline-block;
        font-weight: 900;
    }
    &.owl-theme .owl-dots .owl-dot.active span,
    &.owl-theme .owl-dots .owl-dot:hover span {
        background: #c64628;
        border: 2px solid #c64628;
        color: #fff;
    }
    .owl-dots {
        padding-left: 150px;
    }
}

.section-header__wr {
    position: relative;
}

.owl-carousel-dvsion__title {
    position: absolute;
    left: 20px;
    top: -47px;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.owl-carousel-dvsion__link {
    position: absolute;
    right: 0;
    top: -45px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: initial;
    &:hover {
        color: $brand-primary;
    }
}

.news-block {
    width: 50%;
    background: #fff;
}

.news-block__text {
    padding: 25px 85px;
}

.league-games-list-block {
    background-color: #f4f4f4;
}

.league-games-list__item {
    border-bottom: 1px solid #e3e5e5;
    height: 135px;
    &:last-child {
        border: none;
    }
    .displey-t-s {
        vertical-align: middle;
        padding: 10px;
    }
}

.league-games__number {
    margin-left: 10px;
    width: 36px;
    height: 36px;
    border: 2px solid #8d8d8d;
    @include border-radius(36px);
    color: $brand-primary;
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    text-align: center;
}

.league-games__team-logo-wr {
    width: 320px;
    text-align: left;
}

.league-games__team-logo {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.league-games__logo-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    vertical-align: middle;
}

.league-games__team-score-wr {
    width: 180px;
    text-align: right;
}

.league-games__team-score {
    font-size: 45px;
    line-height: 21px;
    color: #4b4b4b;
    font-weight: 900;
    span {
        color: $brand-primary;
    }
}

.team-match__lb_min {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    @include border-radius(50%);
    background: #ddd;
    span {
        vertical-align: middle;
        color: #f4f4f4;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
    &.team-match__lb_default {
        background-color: #4b4b4b;
    }
    &.team-match__lb_success {
        background-color: $brand-success;
    }
    &.team-match__lb_danger {
        background-color: $brand-danger
    }
}

.league-games__game-result-item-wr {
    width: 60px;
}

.owl-carousel-league-game {
    &.owl-theme .owl-controls {
        bottom: -52px;
        position: absolute;
        text-align: left;
        -webkit-tap-highlight-color: transparent;
        padding-right: 40px;
    }
    .owl-nav {
        position: absolute;
        right: 0;
        top: 0;
    }
    &.owl-theme .owl-controls .owl-nav [class*='owl-'] {
        color: #8d8d8d;
        font-size: 14px;
        line-height: 1em;
        margin: 0 3px;
        padding: 5px 5px;
        // background: $brand-primary;
        display: inline-block;
        cursor: pointer;
    }
    &.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
        // background: $brand-primary;
        color: $brand-primary;
        text-decoration: none;
    }
    &.owl-theme .owl-controls .owl-nav .disabled {
        opacity: 0.5;
        cursor: default;
    }
    &.owl-theme .owl-dots .owl-dot {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    &.owl-theme .owl-dots .owl-dot span {
        width: 16px;
        height: 16px;
        margin: 5px 7px;
        background: transparent;
        border: 2px solid #8d8d8d;
        display: block;
        @include transition(opacity 200ms ease);
        position: relative;
        @include border-radius(50%);
    }
    &.owl-theme .owl-dots .owl-dot.active span,
    &.owl-theme .owl-dots .owl-dot:hover span {
        background: #c64628;
        border: 2px solid #c64628;
        &::before {
            color: #fff;
        }
    }
}
