.row-min_custom-col-width-1 {
    .col-xs-5 {
        width: 40%;
    }
    .col-xs-2 {
        width: 20%;
    }
}

.match__info {
    position: relative;
    height: 210px;
}

.match-info-top {
    padding: 15px;
    text-align: center;
}

.match-info-top-time-wr {
    margin-bottom: 5px;
    color: #4b4b4b;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.match-info-top-date,
.match-info-top-time {
    padding: 0 5px;
}

.match-info-top__map-title {
    color: #c1bfbf;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 15px;
}

.match__info-top-score {
    font-size: 65px;
    line-height: 65px;
    font-weight: 900;
    span {
        vertical-align: middle;
        display: inline-block;
        width: 33.3333%;
    }
}

.match-info-top__match-status {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-transform: uppercase;
}

.match-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #E3E5E5;
    a {
        float: left;
        width: 50%;
        text-align: center;
        border-right: 1px solid #E3E5E5;
        height: 70px;
        padding: 20px 10px;
        display: block;
        color: #c1bfbf;
        font-size: 12px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
        text-decoration: none;
        &:last-child {
            border: none;
        }
        &.active,
        &:hover {
            color: #4b4b4b;
        }
    }
}

.statistic-players-block__wr {
    background-color: #F4F4F4;
    margin-bottom: 30px;
}

.one-statistic-player {
    border-bottom: 1px solid #E3E5E5;
}


.statistic-player {
    float: left;
    width: 130px;
    position: relative;
    margin-right: 10px;
    overflow: hidden;
    a {
        display: block;
    }
    img {
        max-width: 100%;
        min-width: 100%;
        height: auto;
    }
    .player-c {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: $brand-primary;
        width: 35px;
        height: 35px;
        line-height: 35px;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 17px;
        @include border-radius(35px);
        text-align: center;
        color: #fff;
    }
}

.one-statistic-player__info {
    font-size: 25px;
    font-weight: 900;
    margin-top: 30px;
    width: 200px;
    float: left;
}

.one-statistic-player__name {
    color: #c6c6c6;
    font-size: 15px;
    font-weight: 400;
}

.one-statistic-player__game-info {
    padding: 10px 20px;
    float: right;
}

.one-statistic-player__game-info_top {
    margin-bottom: 10px;
    clear: both;
}

.game-info__item {
    display: inline-block;
    margin-left: 20px;
    &:first-child {
        margin: 0;
    }
}

.game-info__item-namber {
    font-size: 45px;
    line-height: 45px;
    font-weight: 400;
    margin-bottom: 5px;
}

.game-info__item-label {
    font-size: 11px;
    font-weight: 400;
    color: #c1bfbf;
    text-transform: uppercase;
}

.game-info__item-namber_plus-minus {
    color: #8d8d8d;
    font-size: 35px;
}

.game-info__item-namber_rating {
    font-size: 45px;
    font-weight: 900;
}

.player-info-k__list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
        margin-right: 25px;
        span {
            color: #c1bfbf;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
