.container__prompt {
    max-width: 1200px;
}

.main-prompt-page {
    text-align: center;
}

.light-logo__wr {
    text-align: center;
    margin: 0;
    padding: 75px 0 105px;
}

.prompt__big-title {
    font-size: 129px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0 20px;
    letter-spacing: 13.5px;
}

.prompt__logo-min {
    margin-bottom: 90px;
}

.prompt__min-text {
    margin-bottom: 50px;
}

.prompt__btn-group {
    margin-bottom: 50px;
    .btn {
        margin: 0 10px;
    }
}

.bills-form__form-wr {
    width: 260px;
    margin: 0 auto;
}

.prompt-selections__wr {
    max-width: 1090px;
    margin: 0 auto 30px;
}

.prompt-selections__min-wr {
    margin-bottom: 30px;
}

.prompt-selection {
    display: block;
    min-height: 500px;
    border: 1px solid #4b4b4b;
    padding: 75px 30px 30px;
    @include opacity(.5);
    color: initial;
    &:hover {
        @include opacity(1);
        text-decoration: none;
        color: inherit;
    }
}

.prompt-selection__titel {
    span {
        font-size: 20px;
        font-weight: 500;
    }
}

.prompt-selection__logo-min {
    margin-bottom: 30px;
}

.list-of-services {
    padding: 0;
    margin: 0;
    list-style: none;
    .pro-item {
        color: $brand-primary;
    }
    li {
        &:before {
            content: '+';
            margin-right: 5px;
        }
    }
    &.list-of-services__free {
        padding-top: 40px;
    }
}

.prompt-selection__min {
    display: block;
    height: 280px;
    line-height: 280px;
    border: 1px solid #4b4b4b;
    padding: 10px;
    @include opacity(.5);
    color: initial;
    position: relative;
    cursor: pointer;
    &:hover {
        @include opacity(1);
        text-decoration: none;
        color: inherit;
    }
}

.active {
    .prompt-selection__min {
        @include opacity(1);
    }
}

.time-subscription {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    text-align: center;
    color: #E3E5E5;
    font-size: 290px;
    font-weight: 900;
    @include text-shadow(0 0 2px 2px #000);
}

.prompt-selection__info {
    line-height: initial;
    position: relative;
    z-index: 2;
    color: #4b4b4b;
    font-size: 30px;
    font-weight: 500;
    padding-top: 115px;
}

.prompt-selection__time-label {
    margin-bottom: 10px;
}

.prompt-selection__price {
    color: $brand-primary;
    font-size: 66px;
    font-weight: 900;
    span {
        font-size: 32px;
        font-weight: 500;
    }
}

.prompt-selection__discount {
    position: absolute;
    right: 5px;
    bottom: 5px;
    line-height: initial;
    font-size: 20px;
    font-weight: 900;
}

.label-hidden {
    visibility: hidden;
    position: absolute;
}

.prompt__cart-title {
    line-height: initial;
    display: inline-block;
    vertical-align: middle;
}
