.inner-page {
    padding-top: 70px;
}

// .user-info__wr {
//   margin-bottom: 20px;
// }
.min-block {
    background-color: #F4F4F4;
    margin-bottom: 10px;
    height: 210px;
    overflow-y: hidden;
}

.min-block__left-section {
    float: left;
    width: 210px;
    overflow: hidden;
    img {
        max-width: 100%;
        height: auto;
        min-width: 100%;
    }
}

.user-graph {
    margin-bottom: 70px;
}

.profile__user-info {
    padding-top: 35px;
}

.profile__user-nick {
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 900;
    .user-status {
        display: inline-block;
        margin-left: 10px;
        color: #FFF;
        font-size: 8px;
        font-weight: 400;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        vertical-align: middle;
        // background-color: #C64628;
        @include border-radius(36px);
    }
    .user-status__pro {
        background: $brand-primary;
        text-transform: uppercase;
    }
}

.profile__user-name {
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
}

.profile__user-address {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.user-karma {
    font-size: 25px;
    font-weight: 900;
    float: left;
}

.user-karma__mark {
    color: $brand-success;
    font-weight: 400;
}

.user-karma__unit {
    color: #CBCBCB;
    font-weight: 400;
}

.user-karma__btn-group {
    overflow-y: hidden;
}

.user-karma__btn {
    width: 36px;
    height: 36px;
    border: 2px solid #C6C6C6;
    @include border-radius(36px);
    display: inline-block;
    margin-left: 20px;
    text-align: center;
    color: #C6C6C6;
    font-size: 13px;
    line-height: 1em;
    padding: 10px;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer;
    &.user-karma__btn-minus {
        &:hover {
            color: $brand-primary;
            border-color: $brand-primary;
        }
    }
    &.user-karma__btn-plus {
        &:hover {
            color: $brand-success;
            border-color: $brand-success;
        }
    }
}

.user-stattistic__wr {
    text-align: center;
}

.user-stattistic__min-block {
    display: inline-block;
    padding: 0 60px;
}

.row-min {
    margin-right: -5px;
    margin-left: -5px;
    [class*="col"] {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.min-block__main-section {
    padding: 15px;
    float: left;
}

.user-awards {
    padding: 45px 15px;
}

.user-avard {
    margin-right: 55px;
    &:last-child {
        margin-right: 0;
    }
}

.user-awards__title__wr {
    padding: 65px 25px 0;
}

.user-awards__title {
    font-size: 30px;
    font-weight: 900;
    text-align: right;
    span {
        color: #C64628;
        font-weight: 400;
    }
}

.user-awards__title_bottom {
    font-size: 30px;
    color: #B0B0B1;
    font-weight: 400;
    text-align: right;
}

.min-block__soc-section {
    float: right;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-left: 1px solid #E3E5E5;
    }
    li {
        &:first-child {
            a {
                border-top: none;
            }
        }
        a {
            border-top: 1px solid #E3E5E5;
            display: block;
            height: 70px;
            padding: 23px;
            text-align: center;
            vertical-align: middle;
            @include transition(all .2s linear);
            color: #C6C6C6;
            font-size: 24px;
            line-height: 1em;
            .soc-icon {
                @include transition(all .2s linear);
            }
            &:hover {
                .soc-icon {
                    @include transform(rotate(360deg));
                }
            }
        }
    }
}

.tab-nav_left {
    float: left;
    width: 210px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid #E3E5E5;
    li {
        &:first-child {
            a {
                border-top: none;
            }
        }
    }
    a {
        border-top: 1px solid #E3E5E5;
        color: #C6C6C6;
        display: block;
        height: 70px;
        padding: 26px 10px;
        text-decoration: none;
        &:hover {
            color: $brand-primary;
        }
    }
}

.tab-content_right {
    overflow: hidden;
    padding: 15px;
    color: #4B4B4B;
    font-size: 14px;
    font-weight: 300;
    max-height: 210px;
    overflow-y: auto;
}

.min-block__soc-section_in-teb {
    float: none;
    position: absolute;
    right: 0;
    top: 0;
}

.square-min-btn {
    height: 36px;
    width: 36px;
    line-height: 1em;
    padding: 5px;
    display: inline-block;
    color: #fff;
    font-size: 22px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    &.square-min-btn_primary {
        background-color: $brand-primary;
    }
    &.square-min-btn_success {
        background-color: $brand-success;
    }
}

.user-thumbnail {
    img {
        @include transition(all .2s linear);
    }
    position: relative;
    &:hover {
        img {
            @include opacity(.3);
        }
        .user-profile__btn-group {
            display: block;
        }
    }
}

.user-profile__btn-group {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    text-align: center;
    display: none;
    .square-min-btn {
        margin-top: -18px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.match-block__left-section, .team-block__left-section {
    // float: left;
    padding: 10px 20px 10px 210px;
    position: relative;
}

.team-block__left-section {
    padding-right: 70px;
}

.match-block__right-section {
    padding: 10px 210px 10px 20px;
    position: relative;
}

.team-nav {
    padding: 0;
    list-style: none;
    margin: 0 0 10px;
    li {
        display: inline-block;
        margin-left: 15px;
        &.active,
        &:hover {
            a {
                color: #4B4B4B;
                text-decoration: none;
            }
        }
    }
    a {
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
        color: #C6C6C6;
        text-transform: uppercase;
    }
}

.tab-content__team, .match-block__content_left {
    padding-left: 15px;
}

.tab-content__team_right, .match-block__content_right {
    padding-right: 15px;
    text-align: right;
}

.min-block-center-info {
    max-width: 460px;
    // max-height: 210px;
    // overflow-y: auto;
}

.team-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 210px;
    height: 210px;
    border-right: 1px solid #E3E5E5;
    img {
        max-width: 100%;
    }
}
.team-logo_right {
    position: absolute;
    right: 0;
    top: 0;
    width: 210px;
    height: 210px;
    line-height: 210px;
    vertical-align: middle;
    border-left: 1px solid #E3E5E5;
    text-align: center;
    img {
        max-width: 100%;
    }
}

.team-info {
    text-transform: uppercase;
}

.team-title {
    color: #4B4B4B;
    font-size: 25px;
    font-weight: 900;
}

.team-tag {
    color: #C6C6C6;
    font-size: 15px;
    font-weight: 400;
}

.team-dvsion {
    color: #C6C6C6;
    font-size: 15px;
    font-weight: 700;
    span {
        color: #C64628;
        font-size: 20px;
        font-weight: 900;
    }
}

.team-bill {
    font-size: 50px;
    color: #4B4B4B;
    font-weight: 900;

    span {
        color: #C64628;
        font-weight: 300;
    }
}

.modal-content_other {
    background-color: #fff;
    .modal-header {
        margin: 20px;
        padding: 20px;
        border: 1px solid #e3e5e5;
    }
    .modal-body {
        margin: 20px;
        padding: 20px;
        border: 1px solid #e3e5e5;
    }
    .modal-footer {
        margin: 20px;
        padding: 0;
    }
}

.modla-subject {
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0;
}