.index__news-aside-right {
  background: #fff;
}

.index__news-aside-left {
  position: relative;
  background: url(../img/big-img-1.jpg) center center no-repeat;
  background-size: cover;
  min-height: 500px;
}

// .index-main-img__wr {
//   position: relative;
// }

.section__news {
  position: relative;
}

.btn-left-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}

.btn-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

.index-main-img__info {
  position: absolute;
  bottom: 100px;
  left: 100px;
  right: 100px;
}

.index-main-img__info-header {
  background: #F4F4F4;
  background-color: rgba(#F4F4F4, .9);
  margin-bottom: 2px;
  padding: 25px;
}

.header_top-line {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 6px;
    background-color: $brand-primary
  }
  &:before {
    content: '';
    position: absolute;
    right: 45%;
    top: 0;
    border-width: 3px;
    border-style: solid;
    border-color: $brand-primary $brand-primary transparent transparent;
  }
}

.index-main-img__info-body {
  background-color: #F4F4F4;
  padding: 20px 25px;
}

.post__header {
  padding-bottom: 10px;
}

.post__body {
  line-height: 1.6;
  font-size: 14px;
}

.header__additional-information {
  color: #4B4B4B;
  font-size: 15px;
  font-weight: 700;
}

.header__min-title {
  color: #939393;
  font-size: 14px;
  font-weight: 900;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.header__big-title {
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.section__min-news {
  padding: 45px 95px 45px 45px;
}

.section__min-news_top {
  background: url(../img/index-top-news-bg.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 200px;
}

.post-info {
  font-size: 12px;
  color: $gray;
  font-weight: 400;
  .nick-name {
    color: $brand-primary;
    font-weight: 900;
  }
}

.news-by {
  display: inline-block;
  margin-right: 25px;
}

.owl-carousel1 {
  padding-bottom: 80px;
  .item {
    background: #fff;
  }
  .owl-nav {
    position: absolute;
    bottom: -45px;
    right: -95px;
    .owl-prev,
    .owl-next {
      float: left;
      // top: 50%;
      // position: absolute;
      // margin-top: -50px;
      // width: 45px;
      // height: 100px;
      // text-align: center;
      // line-height: 100px;
      // font-size: 100px;
      // text-indent: inherit;
      z-index: 9999;
      color: #fff;
      .btn {
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
