.video__wr,
.wideo__wr {
  background: $gray;
}

.vide-player {
  height: 410px;
  position: relative;
}

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
}

.video__info-wr,
.wideo__info-wr {
  background: $brand-primary;
}

.video__info,
.wideo__info {
  padding: 190px 40px 40px;
}

.video-title {
  margin: 0 0 10px;
  color: #F4F4F4;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
}

.video-text {
  color: #F4F4F4;
  font-size: 14px;
  font-weight: 400;
}