.our-title {
    color: $brand-primary;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    line-height: 1em;
    padding-left: 30px;
    margin-bottom: 70px;
    position: relative;
    padding-bottom: 21px;
    &:after {
        position: absolute;
        content: '';
        left: 30px;
        bottom: 0;
        width: 243px;
        height: 6px;
        background-color: $brand-primary;
    }
}

.our-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding-right: 72px;
}

.team-member__img {
    height: 270px;
    width: 270px;
}

.our-team {
    margin-bottom: 70px;
}

.team-member__soc-list {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        float: left;
        margin-right: 1px;
        a {
            background-color: #f4f4f4;
            display: block;
            height: 70px;
            padding: 23px;
            width: 70px;
            text-align: center;
            vertical-align: middle;
            @include transition(all .2s linear);
            color: #C6C6C6;
            font-size: 24px;
            line-height: 1em;
            .soc-icon {
                @include transition(all .2s linear);
            }
            &:hover {
                .soc-icon {
                    // @include transform(rotate(360deg));
                    color: $brand-primary;
                }
            }
        }
    }
}

.team-member__name {
    color: $brand-primary;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 5px;
}

.team-member__job {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 10px;
}

.team-member__description {
    font-size: 16px;
    font-weight: 100;
    line-height: 27px;
}

.team-member__item {
    margin-bottom: 70px;
}

.developers__list {
    list-style: none;
    padding: 0;
    margin-bottom: 70px;
    li {
        float: left;
        margin-left: 145px;
        margin-bottom: 100px;
        img {
            max-width: 270px;
        }
        &:first-child {
            margin-left: 0;
        }
        &:nth-child(5n) {
            margin-left: 0;
        }
    }
}