.sponsors-list {
    display: table;
    height: 100%;
    width: 100%;
}

.sponsors-list__item {
    width: 33.3333%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #E3E5E5;
    &:first-child {
        border: none;
    }
}

.team-match {
    background-color: #F4F4F4;
    margin-bottom: 10px;
}

.team-match {
    width: 755px;
    height: 135px;
    line-height: 135px;
    background-color: #f4f4f4;
    overflow-y: hidden;
}

.team-match__inner {
    vertical-align: middle;
    display: inline-block;
    line-height: initial;
    padding: 0 20px;
    text-align: center;
}

.team-match__lb {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    @include border-radius(50%);
    background: #ddd;
    span {
        vertical-align: middle;
        color: #f4f4f4;
        font-size: 31px;
        font-weight: 400;
        line-height: 31px;
    }
    &.team-match__lb_default {
        background-color: #4b4b4b;
    }
    &.team-match__lb_success {
        background-color: $brand-success;
    }
    &.team-match__lb_danger {
        background-color: $brand-danger
    }
}


.team-match__info-time-wr {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.team-match__info-date {
    margin-bottom: 10px;
}

.team-match__info-time {
    margin-bottom: 10px;
}

.team-match__match-status {
    color: #4b4b4b;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    line-height: 36px;
    height: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;
    .status__vs {
        display: inline-block;
        @include border-radius(50%);
        width: 36px;
        width: 36px;
        background-color: white;
        color: #c64628;
    }
}

.team-match__map-title {
    color: #c1bfbf;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 5px;
}

.team-match__logo-wr {
    width: 160px;
    display: block;
    color: initial;
    @include transition(all .2s linear);
    &:hover {
        text-decoration: none;
        @include transform(scale(1.1));
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

.team-match__logo-title {
    font-size: 14px;
    font-weight: 900;
    line-height: 13px;
    text-transform: uppercase;
    margin-top: 10px;
}

.team-match__score-wr {
    float: right;
    width: 180px;
    padding: 0 20px;
    padding-right: 10px;
    line-height: 135px;
    height: 135px;
}

.team-match__score-of-the-name {
    display: inline-block;
    color: #c1bfbf;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    text-transform: uppercase;
    vertical-align: middle;
}

.score-number {
    font-size: 37px;
    font-weight: 900;
    line-height: 21px;
}

.complete-results {
    color: inherit;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    float: right;
    text-transform: uppercase;
    margin-bottom: 10px;
    &:hover {
        color: $brand-primary;
    }
}

.team-stattistic__wr {
    text-align: center;
    margin-bottom: 10px;
}

.team-stattistic__min-block {
    display: inline-block;
    margin-left: 40px;
    &:first-child {
        margin-left: 0;
    }
}

.team-photos__wr {
    position: relative;
    height: 210px;
}

.team-photos__nav {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #E3E5E5;
    li {
        float: left;
        width: 33.3333%;
        text-align: center;
        border-right: 1px solid #E3E5E5;
        &:last-child {
            border: none;
        }
        &.active,&:hover {
            a {
                color: #4b4b4b;
            }
        }
    }
    a {
        height: 70px;
        padding: 20px 10px;
        display: block;
        color: #c1bfbf;
        font-size: 12px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.players-list {
    overflow: hidden;
}

.player {
    float: left;
    width: 20%;
    position: relative;
    a {
        display: block;
    }
    img {
        max-width: 100%;
        min-width: 100%;
        height: auto;
    }

    .player-c {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background: $brand-primary;
        width: 35px;
        height: 35px;
        line-height: 35px;
        vertical-align: middle;
        text-transform: uppercase;
        font-size: 17px;
        @include border-radius(35px);
        text-align: center;
        color: #fff;
    }
    &.player_grayscale {
        img {
            @include filter(grayscale(1));
            @include transition(all .2s linear);
        }
        &:hover {
            img {
                @include filter(grayscale(0));
            }
        }
    }
}
