.row-min {
    .right-content {
        padding-left: 10px;
    }
}

.messages__list-item {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    &.not-viewed {
        background-color: #fff;
        .messages__status {
            background: $brand-primary;
        }
    }
}

.messages__header {
    border-bottom: 1px solid #e3e5e5;
    @extend .clearfix;
}

.messages__check-wr {
    float: left;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    input {
        margin: 0;
    }
}

.messages__status-wr {
    height: 70px;
    line-height: 70px;
    float: left;
    width: 20px;
}

.messages__status {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    @include border-radius(14px);
    background-color: transparent;
}

.message__subject {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    overflow: hidden;
    line-height: 70px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
}

.message__subject_modal {
    padding-left: 37px;
}

.message__header_left-nav {
    float: left;
    width: 50%;
}

.message__autor_right {
    width: 380px;
    float: right;
}

.message__author-photo {
    float: right;
    margin-left: 10px;
    height: 70px;
    width: 70px;
    border-left: 1px solid #e3e5e5;
    img {
        max-width: 100%;
        height: auto;
    }
}

.message__author-photo_left {
    float: left;
    margin: 0 10px 0 0;
    border-right: 1px solid #e3e5e5;
    border-left: none;
    position: relative;
    z-index: 2;
}

.message__author-name {
    text-align: right;
    padding: 5px 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 17px;
    color: #939393;
    line-height: 60px;
    .other-color {
        color: $brand-primary;
    }
    .message__posted {
        font-size: 14px;
        font-weight: 300;
    }
}

.message__author-name_left {
    text-align: left;
}

.messages__body {
    min-height: 140px;
    padding: 50px 35px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    p {
        margin: 0;
    }
}

.messages__footer-nav {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.messages__footer-nav-item {
    display: table-cell;
    border-top: 1px solid #e3e5e5;
    border-bottom: 1px solid #e3e5e5;
    ~ .messages__footer-nav-item {
        border-left: 1px solid #e3e5e5;
    }
}

.messages__footer-nav-link {
    display: block;
    text-align: center;
    color: #e3e5e5;
    font-size: 15px;
    font-weight: 900;
    line-height: 16px;
    padding: 23px 20px;
    text-transform: uppercase;
    width: 100%;
    border: none;
    background-color: transparent;
    &:hover, &:focus {
        text-decoration: none;
        color: $brand-primary;
    }
}

.form-control {
    &.message-form-control {
        text-transform: none;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: #4b4b4b;
        height: 200px;
        border: none;
        @include box-shadow(none);
        background-color: #f4f4f4;
        &:focus {
            outline: none;
        }
    }
}

.modal-content_message {
    background-color: #f4f4f4;
    .modal-header {
        padding: 0;
    }
    .modal-body {
        padding: 25px;
    }
    .modal-footer {
        padding: 0;
    }
}

.modal-footer {
    &.modal-footer_full-width {
        .btn {
            width: 50%;
            float: left;
            margin: 0;
        }
    }
}

.message-to__wr,
.message-subject__wr {
    border-bottom: 1px solid #b6b6b6;
    .form-control {
        height: 70px;
        background-color: #f4f4f4;
        padding-left: 37px;
    }
}

.message-to__wr {
    position: relative;
    .form-control {
        padding-left: 85px;
    }
    &:before {
        z-index: 1;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 70px;
        background-color: $brand-primary;
    }
}

.modal__messages-list {
    border-bottom: 1px solid #b6b6b6;
    margin-bottom: 20px;
    margin-left: -25px;
    margin-right: -25px;
    padding-left: 25px;
    padding-right: 25px;
}

.modal__messages-list-item {
    padding: 6px 120px 6px 12px;
    margin-bottom: 10px;
    &.modal__messages-list-item_right {
        text-align: right;
        padding: 6px 12px 6px 120px;
    }
}

.modal__messages-list-item-post-time {
    font-size: 12px;
    line-height: 22px;
    color: #898989;
    font-weight: 600;
    margin-bottom: 5px;
}

.post-time__date {
    color: $brand-primary;
    font-weight: 300;
    margin-right: 5px;
}

.form-control.conversation-textarea {
    height: 100px;
    &::-webkit-input-placeholder {
        text-transform: none;
    }

    &:-moz-placeholder {
        text-transform: none;
    }

    &::-moz-placeholder {
        text-transform: none;
    }

    &:-ms-input-placeholder {
        text-transform: none;
    }
}