.massages-filter__wr {
    width: 305px;
    height: 70px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    .messages__check-wr {
        border-right: 1px solid #e3e5e5;
    }
}

.messages__dropdown {
    margin-left: 70px;
}

.dropdown__messages-btn {
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
    color: #b6b6b6;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 30px;
    white-space: nowrap;
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    .caret {
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 20px;
        border-width: 6px;
    }
}

.dropdown__messages-menu {
    width: 100%;
    border: none;
    background-color: #f4f4f4;
    padding: 0;
    list-style: none;
    margin-top: 1px;
    > li {
        > a {
            padding: 10px 30px;
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
            display: block;
            &:hover {
                background: $brand-primary;
                color: #f4f4f4;
            }
        }
    }
}

.massages-filter__wr {
    @extend .clearfix;
}

.userbackend__main-nav-container {
    margin: 70px 0;
    height: 70px;
    position: relative;
}

.userbackend__main-nav_wr {
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
}

@media (min-width: 1550px) {
    .userbackend__main-nav_wr {
        &.menu-fix {
            position: fixed;
            top: 71px;
        }
    }
}

.userbackend__main-nav-list {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0;
    table-layout: fixed;
    padding: 0 5px;
}

.userbackend__main-nav-item {
    display: table-cell;
    background-color: #f4f4f4;
    border-left: 1px solid #e3e5e5;
    @include transition(all .2s linear);
    vertical-align: middle;
    &:first-child {
        border: none;
    }
    &:hover, &.active {
        background: $brand-primary;
        .userbackend__main-nav-link {
            color: #f4f4f4;
        }
        .userbackend__main-nav-counter {
            background-color: #f4f4f4;
            color: $brand-primary;
        }
    }
}

.userbackend__main-nav-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #c6c6c6;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    padding: 25px 30px;
    &.userbackend__main-nav-link_with-counter {
        padding: 25px 60px;
    }
    &:hover {
        text-decoration: none;
    }
}

.userbackend__main-nav-counter {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    @include border-radius(30px);
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -15px;
    background-color: $brand-primary;
    color: #f4f4f4;
    @include transition(all .2s linear);
}
