.row-min {
    .vertical-menu__wr {
        padding-right: 0;
    }
}

.vertical-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.vertical-menu__list-item {
    vertical-align: middle;
    margin-bottom: 10px;
    &.active {
        .vertical-menu__list-link {
            background: $brand-primary;
            text-decoration: none;
            color: #f4f4f4;
        }
    }
}

.vertical-menu__list-link {
    @include transition(all .2s linear);
    background-color: #b6b6b6;
    display: block;
    width: 100%;
    text-align: center;
    color: #f4f4f4;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    padding: 25px 40px;
    position: relative;
    &:hover {
        background: $brand-primary;
        text-decoration: none;
        color: #f4f4f4;
    }
    .icon {
        position: absolute;
        left: 20px;
        top: 50%;
        font-size: 18px;
        line-height: 1em;
        margin-top: -9px;
    }
}
